---
import GameBobLayout from "../../layouts/GameBobLayout.astro";
import RoadmapHeader from "../../components/gamebob/roadmap/RoadmapHeader.astro";
import ProjectCard from "../../components/gamebob/roadmap/ProjectCard.astro";
import { colorBeatProject } from "../../data/gamebob/roadmap/color-beat";
import { missiopolisProject } from "../../data/gamebob/roadmap/missiopolis";
---

<GameBobLayout
    title="Roadmap | GameBob"
    description="Estado actual de los proyectos y planes futuros."
    image="/images/gamebob/roadmap/index.webp"
>
    <div class="min-h-screen flex flex-col items-center py-12 px-4">
        <div class="z-10 w-full max-w-5xl mt-8">
            <RoadmapHeader
                title="roadmap"
                description="Transparencia total sobre lo que estoy construyendo y lo que vendrá después."
            />

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <ProjectCard project={colorBeatProject} />
                <ProjectCard project={missiopolisProject} />
            </div>
        </div>
    </div>
</GameBobLayout>
