---
import NuanceSlide from "../core/NuanceSlide.astro";
---

<NuanceSlide id="intro" labelLeft="VACÍO" labelRight="OSCURIDAD">
    <h1
        slot="center"
        class="nslide-main-title nslide-title--intro"
    >
        MATIZ
    </h1>
    <p
        slot="center"
        class="nslide-main-desc"
    >
        El mundo real está lleno de color. <br />Los extremos son su ausencia.
    </p>

    <h1 slot="left" class="nslide-left-title">
        BLANCO
    </h1>
    <p slot="left" class="nslide-left-desc">
        Sin sombras. Sin dudas.
    </p>

    <h1
        slot="right"
        class="nslide-right-title"
    >
        NEGRO
    </h1>
    <p slot="right" class="nslide-right-desc">
        Sin luz. Sin esperanza.
    </p>
</NuanceSlide>
