---
import NuanceSlide from "../core/NuanceSlide.astro";
---

<NuanceSlide id="intro" labelLeft="VACÍO" labelRight="OSCURIDAD">
    <h1
        slot="center"
        class="text-2xl md:text-4xl md:text-7xl md:text-9xl font-bold tracking-tighter mb-6 bg-clip-text text-transparent bg-gradient-to-r from-red-200 via-white to-blue-200 drop-shadow-lg"
    >
        MATIZ
    </h1>
    <p
        slot="center"
        class="text-xl md:text-2xl text-white/90 max-w-xl leading-relaxed drop-shadow-md"
    >
        El mundo real está lleno de color. <br />Los extremos son su ausencia.
    </p>

    <h1 slot="left" class="text-3xl md:text-5xl md:text-9xl font-black text-black tracking-tighter">
        BLANCO
    </h1>
    <p slot="left" class="text-xl text-black font-sans font-bold mt-4 uppercase tracking-widest">
        Sin sombras. Sin dudas.
    </p>

    <h1
        slot="right"
        class="text-3xl md:text-5xl md:text-9xl font-black text-white tracking-tighter"
    >
        NEGRO
    </h1>
    <p slot="right" class="text-xl text-white font-sans font-bold mt-4 uppercase tracking-widest">
        Sin luz. Sin esperanza.
    </p>
</NuanceSlide>
