---
import NuanceSlide from "../core/NuanceSlide.astro";
---

<NuanceSlide id="fin" labelLeft="" labelRight="">
    <div slot="center">
        <p class="nslide-outro-text">
            El mundo quiere que elijas bando.<br />La verdadera revolución es negarse.
        </p>
        <a
            href="/conceptos/"
            class="nslide-outro-btn"
            >Salir del Bucle</a
        >
    </div>
    <div slot="left" class="nslide-left-desc">VACÍO</div>
    <div slot="right" class="nslide-right-desc">OSCURIDAD</div>
</NuanceSlide>
