---
import MethodToggle   from './MethodToggle.astro';
import DatePicker     from './DatePicker.astro';
import CycleSlider    from './CycleSlider.astro';
import StatsDisplay   from './StatsDisplay.astro';
import MilestonePanel from './MilestonePanel.astro';
import Timeline       from './Timeline.astro';
---

<div class="pc-root" id="pc-root">

    <MethodToggle />

    <div class="pc-main">

        <div class="pc-left">
            <DatePicker />
            <CycleSlider />
            <StatsDisplay />
        </div>

        <div class="pc-center">
            <MilestonePanel />
        </div>

        <div class="pc-right">
            <Timeline />
        </div>

    </div>
</div>

<script>
import { subscribe, getState } from './store';

const root = document.getElementById('pc-root') as HTMLElement;

function applyTrimester(trimester: number | undefined) {
    root.classList.remove('t1', 't2', 't3');
    if (trimester) root.classList.add(`t${trimester}`);
}

applyTrimester(getState().result?.trimester);

subscribe(({ result }) => applyTrimester(result?.trimester));
</script>

<style>
    @import "./PregnancyCalculator.css";
</style>
