<div id="form-url" class="form-section hidden space-y-4" data-qr-type="url">
    <div class="space-y-2">
        <label class="text-sm font-medium text-slate-700 dark:text-slate-300"
            >Dirección Web (URL)</label
        >
        <input
            type="url"
            name="url"
            class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
            placeholder="https://ejemplo.com"
        />
    </div>
</div>
