<div id="form-vcard" class="form-section hidden space-y-4" data-qr-type="vcard">
    <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
            <label class="text-sm font-medium text-slate-700 dark:text-slate-300">Nombre</label>
            <input
                type="text"
                name="name"
                class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
            />
        </div>
        <div class="space-y-2">
            <label class="text-sm font-medium text-slate-700 dark:text-slate-300">Apellidos</label>
            <input
                type="text"
                name="surname"
                class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
            />
        </div>
    </div>

    <div class="space-y-2">
        <label class="text-sm font-medium text-slate-700 dark:text-slate-300">Teléfono</label>
        <input
            type="tel"
            name="phone"
            class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
        />
    </div>

    <div class="space-y-2">
        <label class="text-sm font-medium text-slate-700 dark:text-slate-300">Email</label>
        <input
            type="email"
            name="email"
            class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
        />
    </div>

    <div class="space-y-2">
        <label class="text-sm font-medium text-slate-700 dark:text-slate-300"
            >Organización / Empresa</label
        >
        <input
            type="text"
            name="org"
            class="qr-input w-full px-4 py-2 rounded-xl bg-slate-50/50 dark:bg-slate-950/50 border border-slate-200 dark:border-slate-800 focus:ring-4 focus:ring-indigo-500/10 focus:border-indigo-500 outline-none transition-all text-sm font-medium"
        />
    </div>
</div>
