---
import { Icon } from "astro-icon/components";
import "./PostMortemHeader.css";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<header class="pm-header">
    <div class="pm-header-top">
        <div class="pm-icon-box">
            <Icon name="mdi:skull-scan" class="pm-icon" />
        </div>
        <div class="pm-divider"></div>
    </div>

    <h1 class="pm-title">
        {title}<span class="pm-dot"></span>
    </h1>

    <p class="pm-desc">
        {description}
    </p>
</header>
