---
import { Icon } from "astro-icon/components";
---

<section id="preview-section" class="space-y-4">
    <div
        class="flex items-center gap-2 text-[10px] font-black text-slate-400 uppercase tracking-widest px-2"
    >
        <Icon name="mdi:eye-outline" class="w-4 h-4" />
        Vista Previa
    </div>
    <div
        id="preview-canvas"
        class="bg-white rounded-[2rem] p-0 sm:p-10 min-h-[300px] flex items-center justify-center border border-slate-200 dark:border-slate-800 shadow-2xl transition-all duration-500 relative overflow-hidden"
    >
        <div id="canvas-inner" class="w-full">
            <div
                id="empty-canvas-msg"
                class="flex flex-col items-center justify-center text-center p-12 lg:p-20 space-y-4"
            >
                <div
                    class="w-16 h-16 lg:w-20 lg:h-20 bg-indigo-50 dark:bg-indigo-950/30 rounded-full flex items-center justify-center"
                >
                    <Icon
                        name="mdi:mouse-left-click-outline"
                        class="w-8 h-8 lg:w-10 lg:h-10 text-indigo-500"
                    />
                </div>
                <p class="text-slate-400 font-medium italic text-sm lg:text-base">
                    Elige una utilidad para empezar
                </p>
            </div>
        </div>
    </div>
</section>
