---

---

<section class="py-32 px-6 bg-white border-y border-slate-100">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-4xl md:text-7xl font-black mb-12 tracking-tighter uppercase italic">
            "Creada por un amante de la pizza,<br /><span class="text-[#E63946]"
                >para amantes de la pizza."</span
            >
        </h2>
        <div class="w-20 h-1 bg-[#E63946] mx-auto mb-12"></div>
        <p class="text-2xl md:text-3xl font-light text-slate-600 leading-relaxed italic">
            Pizzametrics nace para eliminar las libretas manchadas de harina y los errores de
            cálculo. Solo datos precisos para tu próximo cornicione.
        </p>
    </div>
</section>
