---

---

<div class="lg:col-span-2 relative h-full z-0">
    <div id="map" class="w-full h-full bg-slate-100 dark:bg-slate-800"></div>
</div>

<style is:global>
    
    .number-icon-container {
        background: transparent;
        border: none;
    }
    .number-icon {
        width: 30px;
        height: 30px;
        background-color: #0891b2; 
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        text-align: center;
        line-height: 26px; 
        font-weight: bold;
        font-size: 14px;
        box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        position: relative;
    }
    
    .number-icon::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px 6px 0;
        border-style: solid;
        border-color: #0891b2 transparent transparent transparent;
    }
</style>
