<div
    id="mobile-dock"
    class="fixed bottom-0 left-0 w-full z-40 p-4 bg-white/80 dark:bg-slate-900/80 backdrop-blur-md border-t border-slate-200 dark:border-slate-800 transition-all duration-300 transform translate-y-full opacity-0 pointer-events-none data-[visible=true]:translate-y-0 data-[visible=true]:opacity-100 md:hidden pb-safe"
>
    
    <div
        id="mobile-dock-container"
        class="flex gap-4 overflow-x-auto snap-x snap-mandatory pointer-events-auto no-scrollbar"
    >
        
    </div>
</div>
