---
import "./DigitalCarbonFootprint.css";
import DCFInputPanel from "./DCFInputPanel.astro";
import DCFResultPanel from "./DCFResultPanel.astro";
---

<div class="dcf-layout">
    <DCFInputPanel />
    <DCFResultPanel />
</div>
