---
import { Icon } from 'astro-icon/components';

interface Material {
  id: string;
  fz: number;
  icon: string;
  name: string;
}

interface Props {
  materials: Material[];
}

const { materials } = Astro.props;
---

<div class="field-block">
  <label class="rpm-field-label">Material de la pieza</label>
  <div class="rpm-material-list" id="mat-list">
    {materials.map(mat => (
      <div class="rpm-mat-chip" data-id={mat.id} data-fz={mat.fz}>
        <div class="rpm-icon-circle">
          <Icon name={mat.icon} />
        </div>
        <span>{mat.name}</span>
      </div>
    ))}
  </div>
</div>
