.utilities-seo-wrapper {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.utilities-seo-intro {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-base);
    margin-bottom: 2rem;
}