---
import "./UtilityHeader.css";

interface Props {
    titleHighlight: string;
    titleBase: string;
    description: string;
}

const {
    titleHighlight,
    titleBase,
    description,
} = Astro.props;

const fullTitle = titleHighlight && titleBase
    ? `${titleHighlight} ${titleBase}`.trim()
    : titleHighlight || titleBase;
---

<div class="utility-header-wrapper">
    <h1>{fullTitle}</h1>
    <p>{description}</p>
</div>
