<div class="results-header">
    <label class="label">Poder del Destino</label>
    <div id="dice-visual-container" class="dice-visual-container"></div>
    <div id="total-result" class="total-result">0</div>
</div>

<div class="results-log">
    <label class="label">Historial</label>
    <div id="dice-history" class="dice-history">
        <p class="empty-history-text">Tus lanzamientos aparecerán aquí</p>
    </div>
</div>
