---
const dice = [4, 6, 8, 10, 12, 20, 100];
---

<div class="dice-selector">
    <label class="label">Selecciona Dados</label>
    <div class="dice-grid">
        {
            dice.map((sides) => (
                <button class="dice-btn" data-sides={sides}>
                    <i class={`dice-icon-font mdi mdi-dice-d${sides === 100 ? 20 : sides}`} />
                    <span class="dice-label">d{sides}</span>
                </button>
            ))
        }
    </div>
</div>
