---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import EsperaContainer from "../../components/pages/espera/EsperaContainer.astro";
import "./espera.css";
---

<Layout
    title="Espera - El arte de la paciencia"
    description="Una experiencia interactiva sobre la psicología de la espera, las colas y el tiempo perdido."
    image="/images/concepts/espera_og.webp"
    fullWidth={true}
    showBackground={false}
>
    <main class="espera-main">
        <EsperaContainer />
    </main>
</Layout>
