---
import Layout from "../../layouts/Layout.astro";
import MedicionIntro from "../../components/pages/medicion/MedicionIntro.astro";
import MedicionBody from "../../components/pages/medicion/MedicionBody.astro";
import MedicionGrain from "../../components/pages/medicion/MedicionGrain.astro";
import MedicionGeometry from "../../components/pages/medicion/MedicionGeometry.astro";
import MedicionBalance from "../../components/pages/medicion/MedicionBalance.astro";
import MedicionNilometer from "../../components/pages/medicion/MedicionNilometer.astro";
import MedicionCalendar from "../../components/pages/medicion/MedicionCalendar.astro";
import MedicionZero from "../../components/pages/medicion/MedicionZero.astro";
import MedicionCubit from "../../components/pages/medicion/MedicionCubit.astro";
import MedicionGnomon from "../../components/pages/medicion/MedicionGnomon.astro";
import MedicionEratosthenes from "../../components/pages/medicion/MedicionEratosthenes.astro";
import MedicionClepsydra from "../../components/pages/medicion/MedicionClepsydra.astro";
import MedicionPulse from "../../components/pages/medicion/MedicionPulse.astro";
import MedicionAntikythera from "../../components/pages/medicion/MedicionAntikythera.astro";
import MedicionAstrolabe from "../../components/pages/medicion/MedicionAstrolabe.astro";
import MedicionCompass from "../../components/pages/medicion/MedicionCompass.astro";
import MedicionHarmony from "../../components/pages/medicion/MedicionHarmony.astro";
import MedicionPhi from "../../components/pages/medicion/MedicionPhi.astro";
import MedicionPi from "../../components/pages/medicion/MedicionPi.astro";
import MedicionDensity from "../../components/pages/medicion/MedicionDensity.astro";
import MedicionTimeSubjective from "../../components/pages/medicion/MedicionTimeSubjective.astro";
import MedicionCandle from "../../components/pages/medicion/MedicionCandle.astro";
import MedicionPerspective from "../../components/pages/medicion/MedicionPerspective.astro";
import MedicionSpectrum from "../../components/pages/medicion/MedicionSpectrum.astro";
import MedicionKnots from "../../components/pages/medicion/MedicionKnots.astro";
import MedicionPressure from "../../components/pages/medicion/MedicionPressure.astro";
import MedicionElasticity from "../../components/pages/medicion/MedicionElasticity.astro";
import MedicionTemperature from "../../components/pages/medicion/MedicionTemperature.astro";
import MedicionLongitude from "../../components/pages/medicion/MedicionLongitude.astro";
import MedicionChaos from "../../components/pages/medicion/MedicionChaos.astro";
import MedicionRevolution from "../../components/pages/medicion/MedicionRevolution.astro";
import MedicionDecimalTime from "../../components/pages/medicion/MedicionDecimalTime.astro";
import MedicionTheExpedition from "../../components/pages/medicion/MedicionTheExpedition.astro";
import MedicionKilogram from "../../components/pages/medicion/MedicionKilogram.astro";
import MedicionMohs from "../../components/pages/medicion/MedicionMohs.astro";
import MedicionParallax from "../../components/pages/medicion/MedicionParallax.astro";
import MedicionDoppler from "../../components/pages/medicion/MedicionDoppler.astro";
import MedicionPendulum from "../../components/pages/medicion/MedicionPendulum.astro";
import MedicionElectricity from "../../components/pages/medicion/MedicionElectricity.astro";
import MedicionAnemometer from "../../components/pages/medicion/MedicionAnemometer.astro";
import MedicionPhrenology from "../../components/pages/medicion/MedicionPhrenology.astro";
import MedicionCandela from "../../components/pages/medicion/MedicionCandela.astro";
import MedicionAether from "../../components/pages/medicion/MedicionAether.astro";
import MedicionGalton from "../../components/pages/medicion/MedicionGalton.astro";
import MedicionMoney from "../../components/pages/medicion/MedicionMoney.astro";
import MedicionPH from "../../components/pages/medicion/MedicionPH.astro";
import MedicionRadiation from "../../components/pages/medicion/MedicionRadiation.astro";
import MedicionCarbon from "../../components/pages/medicion/MedicionCarbon.astro";
import MedicionScoville from "../../components/pages/medicion/MedicionScoville.astro";
import MedicionSound from "../../components/pages/medicion/MedicionSound.astro";
import MedicionRichter from "../../components/pages/medicion/MedicionRichter.astro";
import MedicionDoomsday from "../../components/pages/medicion/MedicionDoomsday.astro";
import MedicionBit from "../../components/pages/medicion/MedicionBit.astro";
import MedicionAtomicTime from "../../components/pages/medicion/MedicionAtomicTime.astro";
import MedicionLight from "../../components/pages/medicion/MedicionLight.astro";
import MedicionVoyager from "../../components/pages/medicion/MedicionVoyager.astro";
import MedicionMarsClimate from "../../components/pages/medicion/MedicionMarsClimate.astro";
import MedicionAbstraction from "../../components/pages/medicion/MedicionAbstraction.astro";
import MedicionQuantifiedSelf from "../../components/pages/medicion/MedicionQuantifiedSelf.astro";
import MedicionInteractive from "../../components/pages/medicion/MedicionInteractive.astro";
import MedicionCoastline from "../../components/pages/medicion/MedicionCoastline.astro";
import MedicionHeisenberg from "../../components/pages/medicion/MedicionHeisenberg.astro";
import MedicionMapTerritory from "../../components/pages/medicion/MedicionMapTerritory.astro";
---

<Layout
    title="La medición: La alucinación colectiva"
    description="No hay líneas rectas en la costa ni segundos en el amanecer. Un recorrido visual sobre cómo convertimos el caos del universo en números."
    image="/images/concepts/medicion_og.webp"
    fullWidth={true}
>
    <main class="bg-neutral-950 text-neutral-200 font-sans selection:bg-cyan-500/30">
        
        <MedicionIntro />

        
        <MedicionBody />
        <MedicionGrain />
        <MedicionGnomon />
        <MedicionNilometer />
        <MedicionCubit />
        <MedicionBalance />
        <MedicionCalendar />
        <MedicionMoney />

        
        <MedicionHarmony />
        <MedicionPhi />
        <MedicionPi />
        <MedicionGeometry />
        <MedicionPulse />
        <MedicionDensity />
        <MedicionEratosthenes />
        <MedicionClepsydra />
        <MedicionAntikythera />
        <MedicionZero />

        
        <MedicionAstrolabe />
        <MedicionCompass />
        <MedicionCandle />
        <MedicionTimeSubjective />

        
        <MedicionPerspective />
        <MedicionSpectrum />
        <MedicionKnots />
        <MedicionPressure />
        <MedicionElasticity />
        <MedicionTemperature />
        <MedicionLongitude />

        
        <MedicionChaos />
        <MedicionRevolution />
        <MedicionDecimalTime />
        <MedicionTheExpedition />
        <MedicionKilogram />

        
        <MedicionPhrenology />
        <MedicionGalton />
        <MedicionMohs />
        <MedicionElectricity />
        <MedicionParallax />
        <MedicionDoppler />
        <MedicionAnemometer />
        <MedicionPendulum />
        <MedicionAether />
        <MedicionCandela />

        
        <MedicionRadiation />
        <MedicionPH />
        <MedicionScoville />
        <MedicionSound />
        <MedicionRichter />
        <MedicionDoomsday />
        <MedicionBit />
        <MedicionCarbon />
        <MedicionAtomicTime />
        <MedicionHeisenberg />

        
        <MedicionLight />
        <MedicionVoyager />
        <MedicionMarsClimate />
        <MedicionCoastline />
        <MedicionMapTerritory />

        <MedicionAbstraction />

        
        <MedicionQuantifiedSelf />
        <MedicionInteractive />
    </main>
</Layout>

<style is:global>
    
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #0a0a0a;
    }
    ::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
