---

---

<div class="max-w-4xl w-full text-center z-10">
    <h1 class="text-4xl md:text-6xl font-black mb-2 tracking-tighter">LA INFLACIÓN</h1>
    <p class="text-xl opacity-70 mb-12 font-mono">¿Qué podías comprar con 100€?</p>
    <slot />
</div>
