---
import { Icon } from "astro-icon/components";
---

<div id="icon-templates" style="display: none;">
    <div id="icon-bread"><Icon name="mdi:bread-slice" class="registry-icon" /></div>
    <div id="icon-milk"><Icon name="mdi:cup" class="registry-icon" /></div>
    <div id="icon-beer"><Icon name="mdi:beer" class="registry-icon" /></div>
    <div id="icon-coffee"><Icon name="mdi:coffee" class="registry-icon" /></div>
    <div id="icon-burger"><Icon name="mdi:hamburger" class="registry-icon" /></div>
    <div id="icon-movie"><Icon name="mdi:movie" class="registry-icon" /></div>
    <div id="icon-book"><Icon name="mdi:book" class="registry-icon" /></div>
    <div id="icon-vinyl"><Icon name="mdi:disc" class="registry-icon" /></div>
    <div id="icon-shirt"><Icon name="mdi:tshirt-crew" class="registry-icon" /></div>
    <div id="icon-shoe"><Icon name="mdi:shoe-formal" class="registry-icon" /></div>
    <div id="icon-game">
        <Icon name="mdi:gamepad-variant" class="registry-icon" />
    </div>
    <div id="icon-fuel"><Icon name="mdi:gas-station" class="registry-icon" /></div>
    <div id="icon-pizza"><Icon name="mdi:pizza" class="registry-icon" /></div>
    <div id="icon-concert"><Icon name="mdi:music" class="registry-icon" /></div>
    <div id="icon-flight"><Icon name="mdi:airplane" class="registry-icon" /></div>
    <div id="icon-house"><Icon name="mdi:home" class="registry-icon" /></div>
    <div id="icon-diamond">
        <Icon name="mdi:diamond-stone" class="registry-icon" />
    </div>
    <div id="icon-car"><Icon name="mdi:car" class="registry-icon" /></div>
    <div id="icon-restaurant">
        <Icon name="mdi:silverware-fork-knife" class="registry-icon" />
    </div>
    <div id="icon-newspaper"><Icon name="mdi:newspaper" class="registry-icon" /></div>
    <div id="icon-mail"><Icon name="mdi:email" class="registry-icon" /></div>
    <div id="icon-watch"><Icon name="mdi:watch" class="registry-icon" /></div>
    <div id="icon-theater"><Icon name="mdi:theater" class="registry-icon" /></div>
    <div id="icon-photo_roll"><Icon name="mdi:film" class="registry-icon" /></div>
    <div id="icon-camera"><Icon name="mdi:camera" class="registry-icon" /></div>
    <div id="icon-cigarette"><Icon name="mdi:smoking" class="registry-icon" /></div>
    <div id="icon-single"><Icon name="mdi:album" class="registry-icon" /></div>
    <div id="icon-tv_old">
        <Icon name="mdi:television-classic" class="registry-icon" />
    </div>
    <div id="icon-tv_color"><Icon name="mdi:television" class="registry-icon" /></div>
    <div id="icon-turntable">
        <Icon name="mdi:record-player" class="registry-icon" />
    </div>
    <div id="icon-football"><Icon name="mdi:soccer" class="registry-icon" /></div>
    <div id="icon-alarm"><Icon name="mdi:alarm" class="registry-icon" /></div>
    <div id="icon-radio"><Icon name="mdi:radio" class="registry-icon" /></div>
    <div id="icon-walkman"><Icon name="mdi:cassette" class="registry-icon" /></div>
    <div id="icon-calculator">
        <Icon name="mdi:calculator" class="registry-icon" />
    </div>
    <div id="icon-cassette"><Icon name="mdi:cassette" class="registry-icon" /></div>
    <div id="icon-vhs"><Icon name="mdi:video-vintage" class="registry-icon" /></div>
    <div id="icon-vhs_rental">
        <Icon name="mdi:video-vintage" class="registry-icon" />
    </div>
    <div id="icon-console_8bit">
        <Icon name="mdi:gamepad" class="registry-icon" />
    </div>
    <div id="icon-phone"><Icon name="mdi:phone-classic" class="registry-icon" /></div>
    <div id="icon-videocamera"><Icon name="mdi:video" class="registry-icon" /></div>
    <div id="icon-encyclopedia">
        <Icon name="mdi:book-multiple" class="registry-icon" />
    </div>
    <div id="icon-floppy"><Icon name="mdi:floppy" class="registry-icon" /></div>
    <div id="icon-cd"><Icon name="mdi:disc" class="registry-icon" /></div>
    <div id="icon-mobile"><Icon name="mdi:cellphone" class="registry-icon" /></div>
    <div id="icon-computer">
        <Icon name="mdi:desktop-classic" class="registry-icon" />
    </div>
    <div id="icon-playstation">
        <Icon name="mdi:sony-playstation" class="registry-icon" />
    </div>
    <div id="icon-gameboy">
        <Icon name="mdi:gamepad-variant" class="registry-icon" />
    </div>
    <div id="icon-internet"><Icon name="mdi:web" class="registry-icon" /></div>
    <div id="icon-digital_camera">
        <Icon name="mdi:camera" class="registry-icon" />
    </div>
    <div id="icon-coffee_premium">
        <Icon name="mdi:coffee" class="registry-icon" />
    </div>
    <div id="icon-dvd"><Icon name="mdi:disc" class="registry-icon" /></div>
    <div id="icon-ipod"><Icon name="mdi:ipod" class="registry-icon" /></div>
    <div id="icon-gym"><Icon name="mdi:dumbbell" class="registry-icon" /></div>
    <div id="icon-amazon">
        <Icon name="mdi:package-variant" class="registry-icon" />
    </div>
    <div id="icon-coffee_tag"><Icon name="mdi:coffee" class="registry-icon" /></div>
    <div id="icon-ringtone"><Icon name="mdi:music-note" class="registry-icon" /></div>
    <div id="icon-xbox"><Icon name="mdi:microsoft-xbox" class="registry-icon" /></div>
    <div id="icon-sms"><Icon name="mdi:message-text" class="registry-icon" /></div>
    <div id="icon-tv_plasma">
        <Icon name="mdi:television" class="registry-icon" />
    </div>
    <div id="icon-mp3"><Icon name="mdi:music" class="registry-icon" /></div>
    <div id="icon-smartphone">
        <Icon name="mdi:cellphone" class="registry-icon" />
    </div>
    <div id="icon-tablet"><Icon name="mdi:tablet" class="registry-icon" /></div>
    <div id="icon-netflix"><Icon name="mdi:netflix" class="registry-icon" /></div>
    <div id="icon-spotify"><Icon name="mdi:spotify" class="registry-icon" /></div>
    <div id="icon-delivery"><Icon name="mdi:moped" class="registry-icon" /></div>
    <div id="icon-uber"><Icon name="mdi:car" class="registry-icon" /></div>
    <div id="icon-headphones">
        <Icon name="mdi:headphones" class="registry-icon" />
    </div>
    <div id="icon-smart_tv"><Icon name="mdi:television" class="registry-icon" /></div>
    <div id="icon-app"><Icon name="mdi:application" class="registry-icon" /></div>
    <div id="icon-youtube"><Icon name="mdi:youtube" class="registry-icon" /></div>
    <div id="icon-twitch"><Icon name="mdi:twitch" class="registry-icon" /></div>
    <div id="icon-chatgpt"><Icon name="mdi:robot" class="registry-icon" /></div>
    <div id="icon-cloud"><Icon name="mdi:cloud" class="registry-icon" /></div>
    <div id="icon-disney"><Icon name="mdi:castle" class="registry-icon" /></div>
    <div id="icon-hbo"><Icon name="mdi:television-play" class="registry-icon" /></div>
    <div id="icon-airbnb"><Icon name="mdi:home-city" class="registry-icon" /></div>
    <div id="icon-discord"><Icon name="mdi:discord" class="registry-icon" /></div>
    <div id="icon-vr"><Icon name="mdi:virtual-reality" class="registry-icon" /></div>
    <div id="icon-ps5">
        <Icon name="mdi:sony-playstation" class="registry-icon" />
    </div>
    <div id="icon-zoom"><Icon name="mdi:video" class="registry-icon" /></div>
    <div id="icon-airpods"><Icon name="mdi:headphones" class="registry-icon" /></div>
    <div id="icon-apple_music"><Icon name="mdi:music" class="registry-icon" /></div>
    <div id="icon-laptop"><Icon name="mdi:laptop" class="registry-icon" /></div>
    <div id="icon-onlyfans">
        <Icon name="mdi:account-circle" class="registry-icon" />
    </div>
    <div id="icon-apple_watch"><Icon name="mdi:watch" class="registry-icon" /></div>
</div>
