---
import AuthorNote from "../../ui/AuthorNote.astro";
---

<AuthorNote title="Nota del Autor" twitter="jjlmoya">
    <p>
        "Esta página nace de la pura curiosidad. Intuía qué era la inflación, pero me costaba
        visualizar su impacto real a lo largo de las décadas."
    </p>
    <p>
        "He creado esta comparativa como un ejercicio para entenderlo mejor, para ver con mis
        propios ojos cómo ha cambiado nuestro poder adquisitivo. Si encuentras algún dato impreciso,
        te pido disculpas y <span
            class="text-amber-500/90 font-medium decoration-amber-500/30 underline underline-offset-4 decoration-1"
            >estaré encantado de corregirlo</span
        >; este es un proyecto de aprendizaje y divulgación que he querido compartir contigo."
    </p>
</AuthorNote>
