---
import FooterKitty from "./FooterKitty.astro";
import "./GameBobFooter.css";
---

<div class="gamebob-footer-extension">
    <div class="gamebob-footer-container">
        <FooterKitty />
        <div class="gamebob-footer-right">
            <a href="/gamebob/privacidad/" class="gamebob-footer-link">política de privacidad</a>
            <span class="gamebob-footer-separator">•</span>
            <a href="/gamebob/terminos-y-condiciones/" class="gamebob-footer-link">términos y condiciones</a>
        </div>
    </div>
</div>
