---
interface Props {
    progress: number;
}

const { progress } = Astro.props;
---

<div class="mb-10">
    <div class="flex justify-between text-sm text-gray-400 mb-2">
        <span>Progreso general</span>
        <span>{progress}%</span>
    </div>
    <div class="h-2 bg-white/5 rounded-full overflow-hidden">
        <div
            class="h-full bg-[var(--color-gamebob-primary)] rounded-full"
            style={`width: ${progress}%`}
        >
        </div>
    </div>
</div>
