---
interface Props {
    progress: number;
}

const { progress } = Astro.props;
import "./ProgressBar.css";
---

<div class="pbar-wrapper">
    <div class="pbar-info">
        <span>Progreso general</span>
        <span>{progress}%</span>
    </div>
    <div class="pbar-track">
        <div class="pbar-fill" style={`width: ${progress}%`}></div>
    </div>
</div>
