---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<header class="mb-16">
    <h1
        class="text-4xl font-bold mb-4 border-l-4 border-[var(--color-gamebob-accent)] pl-4 lowercase text-[var(--color-gamebob-text)]"
    >
        {title}
    </h1>
    <p class="text-gray-400 text-lg font-light max-w-2xl">
        {description}
    </p>
</header>
