.rm-header {
    margin-bottom: 4rem;
}

.rm-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    border-left: 4px solid var(--color-gamebob-accent);
    padding-left: 1rem;
    text-transform: lowercase;
    color: var(--color-gamebob-text);
}

.rm-desc {
    color: #9ca3af;
    font-size: 1.125rem;
    font-weight: 300;
    max-width: 42rem;
    line-height: 1.625;
}
