---
import Layout from "../layouts/Layout.astro";
import CharlasHero from "../components/pages/charlas/CharlasHero.astro";
import CharlasTopics from "../components/pages/charlas/CharlasTopics.astro";
import CharlasContact from "../components/pages/charlas/CharlasContact.astro";
---

<Layout
    title="Charlas | jjlmoya"
    description="Conferencias y ponencias sobre desarrollo y creatividad."
    image="/images/charlas.png"
    showBackground={false}
    mainClass="p-0"
    headerClass="bg-[#0a0a0a]/90 backdrop-blur-md border-b border-[#333] text-white"
>
    <main class="bg-[#0a0a0a] min-h-screen">
        <CharlasHero />
        <CharlasTopics />
        <CharlasContact />
    </main>
</Layout>
