---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import CharlasHero from "../components/pages/charlas/CharlasHero.astro";
import CharlasTopics from "../components/pages/charlas/CharlasTopics.astro";
import CharlasContact from "../components/pages/charlas/CharlasContact.astro";
import "./charlas.css";
---

<Layout
    title="Charlas | jjlmoya"
    description="Conferencias y ponencias sobre desarrollo y creatividad."
    image="/images/charlas.webp"
    showBackground={false}
    mainClass="charlas-page-main-layout"
>
    <main class="charlas-main-content">
        <CharlasHero />
        <CharlasTopics />
        <CharlasContact />
    </main>
</Layout>
