---
import BortleVisualizerUI from "./ui/BortleVisualizer.astro";
---

<div class="w-full max-w-5xl mx-auto px-4 md:px-0" id="bortle-simulator">
    
    <div class="space-y-12">
        
        <BortleVisualizerUI />
    </div>

</div>
