---
export const prerender = true;
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import CssSpecificityCalculator from "../../components/utilidades/css-specificity-calculator/CssSpecificityCalculator.astro";
import CssSpecificityCalculatorSEO from "../../components/utilidades/css-specificity-calculator/CssSpecificityCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Calculadora de Especificidad CSS Online y Gratis | Visualizador de Peso"
    description="Calcula la especificidad y peso exacto de cualquier selector CSS. Una herramienta visual para diseñadores y maquetadores web para comprender qué regla CSS gana la cascada."
    image="/images/utilities/css-specificity-calculator.webp"
    gradientFrom="from-rose-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Especificidad"
            titleBase="Calculadora  CSS"
            description="Analiza y calcula el peso exacto de tus selectores (IDs, Clases y Elementos) para entender qué reglas terminan aplicándose en tus hojas de estilo y evitar usar !important."
            gradientFrom="from-rose-500"
            gradientTo="to-indigo-500"
            reverse={false}
        />
    </div>

    <CssSpecificityCalculator />

    <div slot="seo">
        <CssSpecificityCalculatorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "MDN Web Docs: Especificidad en CSS",
                    url: "https://developer.mozilla.org/es/docs/Web/CSS/Specificity",
                },
                {
                    name: "W3C: Selectors Level 3 - API Specificity",
                    url: "https://www.w3.org/TR/selectors-3/#specificity",
                },
            ]}
        />
    </div>
</LayoutUtility>
