---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import FixedGearCalc from "../../components/utilidades/fixed-gear/FixedGearCalc.astro";
import FixedGearSEO from "../../components/utilidades/fixed-gear/FixedGearSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Calculadora Fixie: Skid Patches y Gear Inches - Optimiza tu Transmisión"
    description="Optimiza tu bicicleta de piñón fijo. Calcula Skid Patches para salvar tus neumáticos y Gear Inches para dominar la calle."
    image="/images/utilities/calculadora-fixie.png"
    category="Ciclismo y Deporte"
    gradientFrom="from-slate-100"
    gradientTo="to-slate-300"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Fixie"
            titleBase="Calculadora"
            description="Domina tu transmisión. Ahorra dinero en neumáticos y encuentra tu ratio perfecto."
            gradientFrom="from-red-500"
            gradientTo="to-indigo-600"
            reverse={true}
        />
    </div>

    <FixedGearCalc />

    <div slot="seo">
        <FixedGearSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Sheldon Brown - Gear Inches",
                    url: "https://www.sheldonbrown.com/gear-calc.html",
                },
                {
                    name: "Pure Cycles - Gear Ratio Guide",
                    url: "https://www.purecycles.com/blogs/bicycle-news/8821967-gear-ratios-what-does-it-all-mean",
                },
                {
                    name: "Surly Bikes - Skid Patch Math",
                    url: "https://www.surplace.fr/ffgc/",
                },
            ]}
        />
    </div>
</LayoutUtility>
