---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import AspectRatioCalculator from "../../components/utilidades/aspect-ratio-calculator/AspectRatioCalculator.astro";
import AspectRatioCalculatorSEO from "../../components/utilidades/aspect-ratio-calculator/AspectRatioCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Calculadora de Aspect Ratio a Píxeles | Proporciones Online"
    description="Calcula nuevas resoluciones de imagen, vídeo y diseño web y mantén la proporción exacta para no deformar gráficos. Soporta formatos 16:9, 4:3, 21:9 y customizados."
    image="/images/utilities/aspect-ratio-calculator.webp"
    gradientFrom="from-sky-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Aspect Ratio"
            titleBase="Calculadora"
            description="Una utilidad imprescindible para escalar imágenes, redimensionar resoluciones de vídeo, adaptar embeds iframes de HTML5 y definir los CSS Aspect-Ratio de tu frontal respetando proporciones perfectas entre X/Y."
            gradientFrom="from-sky-500"
            gradientTo="to-violet-500"
            reverse={true}
        />
    </div>

    <AspectRatioCalculator />

    <div slot="seo">
        <AspectRatioCalculatorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "MDN Web Docs: aspect-ratio (CSS)",
                    url: "https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio",
                },
                {
                    name: "Wikipedia: Relación de aspecto",
                    url: "https://es.wikipedia.org/wiki/Relación_de_aspecto",
                },
            ]}
        />
    </div>
</LayoutUtility>
