---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import TimelapseCalculator from "../../components/utilidades/timelapse-calculator/TimelapseCalculator.astro";
import TimelapseSEO from "../../components/utilidades/timelapse-calculator/TimelapseSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Calculadora de Timelapse y Hyperlapse: Intervalos Perfectos"
    description="Calcula el intervalo exacto entre fotos, duración total y almacenamiento para tus timelapses. Herramienta esencial para fotógrafos."
    image="/images/utilities/calculadora-timelapse.png"
    gradientFrom="from-slate-900"
    gradientTo="to-indigo-900"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Timelapse"
            titleBase="Calculadora de"
            description="Controla el tiempo. Calcula intervalos, duración y almacenamiento para capturas épicas."
            gradientFrom="from-blue-600"
            gradientTo="to-violet-600"
            reverse={true}
        />
    </div>

    <TimelapseCalculator />

    <div slot="seo">
        <TimelapseSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Timescapes Forum - Digital Timelapse Acquisition & Processing",
                    url: "https://timescapes.org/phpBB3/viewforum.php?f=4",
                },
                {
                    name: "Magic Lantern - Auto ETTR & Bulb Ramping Algorithms",
                    url: "https://wiki.magiclantern.fm/ettr",
                },
                {
                    name: "LRTimelapse - Visual Deflicker & Holy Grail Workflow",
                    url: "https://lrtimelapse.com/tutorial/advanced/",
                },
                {
                    name: "PhotoPills - Advanced Timelapse Calculator & NPF Rule",
                    url: "https://www.photopills.com/calculators/timelapse",
                },
            ]}
        />
    </div>
</LayoutUtility>
