---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SolarTilt from "../../components/utilidades/solar-tilt/SolarTilt.astro";
import SolarTiltSEO from "../../components/utilidades/solar-tilt/SolarTiltSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliographyLinks = [
    {
        name: "National Renewable Energy Laboratory (NREL) - Solar Research",
        url: "https://www.nrel.gov/solar/",
    },
    {
        name: "Photovoltaic Geographical Information System (PVGIS)",
        url: "https://re.jrc.ec.europa.eu/pvg_tools/en/",
    },
    {
        name: "Solar Energy Industries Association (SEIA) - Solar Technologies",
        url: "https://www.seia.org/",
    },
];
---

<LayoutUtility
    title="Calculadora de Inclinación Solar Óptima | Paneles Solares"
    description="Calcula el ángulo de inclinación ideal para tus placas solares y maximiza la producción de energía según tu ubicación (latitud)."
    image="/images/utilities/solar-tilt.png"
    gradientFrom="from-yellow-400"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Inclinación"
            titleBase="Solar"
            description="Maximiza la eficiencia de tus placas calculando el ángulo perfecto según tu ubicación."
            gradientFrom="from-orange-500"
            gradientTo="to-yellow-500"
        />
    </div>

    <SolarTilt />

    <div slot="seo">
        <SolarTiltSEO />
        <Bibliography links={bibliographyLinks} />
    </div>
</LayoutUtility>
