---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import MatBoardCalculator from "../../components/utilidades/mat-board-calculator/MatBoardCalculator.astro";
import MatBoardCalculatorSEO from "../../components/utilidades/mat-board-calculator/MatBoardCalculatorSEO.astro";
---

<LayoutUtility
    title="Calculadora de Passepartout | Enmarcado Profesional"
    description="Herramienta para calcular márgenes de passepartout con corrección óptica (bottom weighting). Enmarca tus fotografías y arte con proporciones de galería."
    image="/images/utilities/calculadora-passepartout.png"
    gradientFrom="from-indigo-50"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Passepartout"
            titleBase="Calculadora"
            description="Diseña márgenes perfectos con corrección de centro óptico para tus enmarcados."
            gradientFrom="from-indigo-400"
            gradientTo="to-blue-600"
            reverse={true}
        />
    </div>

    <MatBoardCalculator />

    <div slot="seo">
        <MatBoardCalculatorSEO />
    </div>
</LayoutUtility>
