---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import BeerCoolingCalculator from "../../components/utilidades/beer-cooling-calculator/BeerCoolingCalculator.astro";
import BeerCoolingCalculatorSEO from "../../components/utilidades/beer-cooling-calculator/BeerCoolingCalculatorSEO.astro";
---

<LayoutUtility
    title="Calculadora de Enfriamiento de Cerveza - Ley de Newton"
    description="Calcula el tiempo exacto para enfriar tu cerveza en la nevera o congelador usando termodinámica."
    image="/images/utilities/beer-cooling.png"
    gradientFrom="from-amber-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Cerveza"
            titleBase="Enfriamento de"
            description="Física aplicada a tu sed. Calcula exactamente cuándo tu cerveza estará en su punto perfecto."
            gradientFrom="from-amber-500"
            gradientTo="to-orange-600"
            reverse={true}
        />
    </div>

    
    <BeerCoolingCalculator />

    
    <div slot="seo">
        <BeerCoolingCalculatorSEO />
    </div>
</LayoutUtility>
