---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SpokeCalculator from "../../components/utilidades/spoke-calculator/SpokeCalculator.astro";
import SpokeCalculatorSEO from "../../components/utilidades/spoke-calculator/SpokeCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Calculadora de Radios: Longitud Exacta para Construir Ruedas - Spoke Length Calculator"
    description="Calcula la longitud exacta de radios para construir ruedas de bicicleta. ERD, PCD, cruces y geometría precisa."
    image="/images/utilities/calculadora-radios.png"
    category="Ciclismo y Deporte"
    gradientFrom="from-indigo-100"
    gradientTo="to-blue-300"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Radios"
            titleBase="Calculadora de"
            description="Geometría precisa para construir ruedas perfectas. ERD, PCD, cruces y ángulos."
            gradientFrom="from-indigo-500"
            gradientTo="to-blue-600"
            reverse={true}
        />
    </div>

    <SpokeCalculator />

    <div slot="seo">
        <SpokeCalculatorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Sheldon Brown - Spoke Length Calculator",
                    url: "https://www.sheldonbrown.com/rinard/spocalc.htm",
                },
                {
                    name: "DT Swiss - Spoke Calculator",
                    url: "https://spokes-calculator.dtswiss.com/en/",
                },
                {
                    name: "Sapim - Spoke Length Guide",
                    url: "https://www.sapim.be/spoke-calculator",
                },
            ]}
        />
    </div>
</LayoutUtility>
