---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import CarbonationCalculator from "../../components/utilidades/carbonation-calculator/CarbonationCalculator.astro";
import CarbonationCalculatorSEO from "../../components/utilidades/carbonation-calculator/CarbonationCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const title = "Calculadora de Carbonatación de Cerveza";
const description =
    "Calcula la cantidad exacta de azúcar para carbonatar tu cerveza casera. Soporte para Dextrosa, Azúcar de mesa y DME con visualización de burbujas en tiempo real.";

const bibliographyLinks = [
    {
        name: "How to Brew - Priming & Bottling (John Palmer)",
        url: "http://howtobrew.com/book/section-1/priming-and-bottling/priming-solutions",
    },
    {
        name: "BJCP Style Guidelines 2021",
        url: "https://www.bjcp.org/style/2021/",
    },
    {
        name: "Carbonation Guidelines by Style",
        url: "https://www.brewersfriend.com/beer-priming-calculator/",
    },
];
---

<LayoutUtility
    title={title}
    description={description}
    image="/images/utilities/carbonation-calculator.png"
>
    <CarbonationCalculator />

    <div slot="seo">
        <CarbonationCalculatorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={bibliographyLinks} />
    </div>
</LayoutUtility>
