---
export const prerender = true;
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import UrlEncoderDecoder from "../../components/utilidades/url-encoder-decoder/UrlEncoderDecoder.astro";
import UrlEncoderDecoderSEO from "../../components/utilidades/url-encoder-decoder/UrlEncoderDecoderSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Codificador y Decodificador de URLs | URL Encode Online"
    description="Convierte caracteres especiales de cualquier enlace a formato seguro (Percent-Encoding) o devuélvelos a su estado original legible al instante de forma local."
    image="/images/utilities/url-encoder-decoder.webp"
    gradientFrom="from-amber-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="de URLs"
            titleBase="Codificador y Decodificador"
            description="Limpia, codifica y decodifica el texto de tus URL reemplazando caracteres prohibidos por sus representaciones ASCII seguras en porcentaje (%) para que ningún servidor te devuelva un código de error."
            gradientFrom="from-amber-400"
            gradientTo="to-orange-600"
            reverse={true}
        />
    </div>

    <UrlEncoderDecoder />

    <div slot="seo">
        <UrlEncoderDecoderSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "MDN Web Docs: encodeURIComponent()",
                    url: "https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent",
                },
                {
                    name: "W3Schools: URL Encoding Reference",
                    url: "https://www.w3schools.com/tags/ref_urlencode.ASP",
                },
                {
                    name: "IETF RFC 3986: Estructura de URIs",
                    url: "https://datatracker.ietf.org/doc/html/rfc3986",
                },
            ]}
        />
    </div>
</LayoutUtility>
