---
export const prerender = true;
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SvgToCssConverter from "../../components/utilidades/svg-to-css-converter/SvgToCssConverter.astro";
import SvgToCssConverterSEO from "../../components/utilidades/svg-to-css-converter/SvgToCssConverterSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const faqItems = [
    {
        question: "¿Es mejor usar Data URI o un archivo .svg externo?",
        answer: "Depende del uso. Los Data URIs eliminan peticiones HTTP (ideal para iconos pequeños), pero aumentan el tamaño del CSS. Para ilustraciones grandes o ricas en detalles, es preferible un archivo externo.",
    },
    {
        question: "¿Cómo cambio el color de un SVG incrustado en CSS?",
        answer: "La mejor forma es mediante 'mask-image'. Al definir el SVG como una máscara, puedes usar 'background-color' para cambiar su color dinámicamente, incluso en estados :hover.",
    },
    {
        question: "¿Qué navegadores soportan las Máscaras CSS?",
        answer: "Todos los navegadores modernos (Chrome, Firefox, Safari, Edge) tienen soporte completo. Para navegadores antiguos se suelen usar prefijos -webkit-.",
    },
    {
        question: "¿Afecta el uso de Data URIs al SEO?",
        answer: "Sí, de forma positiva. Al reducir el número de peticiones necesarias para renderizar la página, mejora el tiempo de carga (LCP) y la puntuación en Core Web Vitals.",
    },
    {
        question: "¿Puedo usarlo en frameworks como React o Tailwind?",
        answer: "¡Por supuesto! Puedes copiar el código generado y usarlo en tus archivos .css o incluso como valores arbitrarios en Tailwind CSS.",
    },
];
---

<LayoutUtility
    title="Convertidor de SVG a CSS y Data URI | Optimización Web"
    description="Transforma tus iconos y vectores SVG en código CSS (Background o Mask) o Data URI comprimido. Optimiza el rendimiento de tu web eliminando peticiones HTTP externas."
    image="/images/utilities/svg-to-css-converter.webp"
    gradientFrom="from-pink-500"
    faqItems={faqItems}
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="a CSS"
            titleBase="SVG"
            description="La herramienta definitiva para integrar iconos vectoriales en tus hojas de estilo. Genera automáticamente Data URIs, Background-images o Máscaras CSS interactivas manteniendo la ligereza y resolución infinita."
            gradientFrom="from-pink-500"
            gradientTo="to-purple-500"
            reverse={true}
        />
    </div>

    <SvgToCssConverter />

    <div slot="seo">
        <SvgToCssConverterSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "CSS-Tricks: Using SVG as Background",
                    url: "https://css-tricks.com/using-svg/",
                },
                {
                    name: "MDN Web Docs: mask-image",
                    url: "https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image",
                },
            ]}
        />
    </div>
</LayoutUtility>
