---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import CssToInline from "../../components/utilidades/css-to-inline-converter/CssToInline.astro";
import CssToInlineSEO from "../../components/utilidades/css-to-inline-converter/CssToInlineSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Convertidor de CSS Externo a Inline HTML | Inliner para Emails"
    description="Transforma tus hojas de estilo y clases CSS a estilos incrustados en línea (inline-styles) automáticamente en tu HTML. Ideal para newsletters, emails y maquetación web segura."
    image="/images/utilities/css-to-inline-converter.webp"
    gradientFrom="from-pink-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Inline CSS"
            titleBase="Convertidor"
            description="Inyecta tus reglas CSS (clases e ids) automáticamente como estilos en línea dentro de tu documento HTML bruto para compatibilidad máxima en Emails."
            gradientFrom="from-pink-500"
            gradientTo="to-violet-500"
            reverse={true}
        />
    </div>

    <CssToInline />

    <div slot="seo">
        <CssToInlineSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Can I email: La matriz de soporte HTML y CSS para Emails",
                    url: "https://www.caniemail.com/",
                },
                {
                    name: "MDN Web Docs: El atributo global de estilo (style)",
                    url: "https://developer.mozilla.org/es/docs/Web/HTML/Global_attributes/style",
                },
                {
                    name: "DOMParser API: Parseo seguro en el navegador",
                    url: "https://developer.mozilla.org/es/docs/Web/API/DOMParser",
                },
            ]}
        />
    </div>
</LayoutUtility>
