---
export const prerender = true;
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SvgToCssConverter from "../../components/utilidades/svg-to-css-converter/SvgToCssConverter.astro";
import SvgToCssConverterSEO from "../../components/utilidades/svg-to-css-converter/SvgToCssConverterSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Convertidor de SVG a CSS y Data URI | Optimización Web"
    description="Transforma tus iconos y vectores SVG en código CSS (Background o Mask) o Data URI comprimido. Optimiza el rendimiento de tu web eliminando peticiones HTTP externas."
    image="/images/utilities/svg-to-css-converter.webp"
    gradientFrom="from-pink-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="a CSS"
            titleBase="SVG"
            description="La herramienta definitiva para integrar iconos vectoriales en tus hojas de estilo. Genera automáticamente Data URIs, Background-images o Máscaras CSS interactivas manteniendo la ligereza y resolución infinita."
            gradientFrom="from-pink-500"
            gradientTo="to-purple-500"
            reverse={true}
        />
    </div>

    <SvgToCssConverter />

    <div slot="seo">
        <SvgToCssConverterSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "CSS-Tricks: Using SVG as Background",
                    url: "https://css-tricks.com/using-svg/",
                },
                {
                    name: "MDN Web Docs: mask-image",
                    url: "https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image",
                },
            ]}
        />
    </div>
</LayoutUtility>
