---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import BeadPatternDesigner from "../../components/utilidades/bead-pattern-designer/BeadPatternDesigner.astro";
import BeadPatternDesignerSEO from "../../components/utilidades/bead-pattern-designer/BeadPatternDesignerSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const title = "Generador de Patrones Miyuki | De Foto a Esquema de Cuentas";
const description =
    "Convierte cualquier imagen en un patrón técnico para telar de cuentas o brick stitch. Ajusta el ancho, reduce colores y teje con nuestro modo enfoque.";
const image = "/images/utilities/disenador-patrones-cuentas.png";

const bibliographyLinks = [
    {
        name: "Miyuki Delica Color Chart - Official Reference",
        url: "https://www.miyuki-beads.co.jp/english/seedbead/01.html",
    },
    {
        name: "Principles of Color Quantization - Wikipedia",
        url: "https://en.wikipedia.org/wiki/Color_quantization",
    },
    {
        name: "Brick Stitch and Peyote Stitch Techniques Guide",
        url: "https://www.beadaholique.com/pages/beading-techniques-guides",
    },
];
---

<LayoutUtility title={title} description={description} image={image} gradientFrom="from-orange-50">
    <div slot="header">
        <UtilityHeader
            titleHighlight="Cuentas"
            titleBase="Diseñador"
            description="Transforma tus fotografías e ilustraciones en esquemas técnicos de precisión para tejidos con cuentas Miyuki y Brick Stitch."
            gradientFrom="from-orange-600"
            gradientTo="to-amber-600"
        />
    </div>

    <BeadPatternDesigner />

    <div slot="seo">
        <BeadPatternDesignerSEO />
    </div>

    <Bibliography slot="bibliography" links={bibliographyLinks} />
</LayoutUtility>
