---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import TVDistanceCalculator from "../../components/utilidades/tv-distance/TVDistanceCalculator.astro";
import TVDistanceCalculatorSEO from "../../components/utilidades/tv-distance/TVDistanceCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const title = "Calculadora Distancia TV | Pulgadas y Resolución Óptima";
const description =
    "Calcula la distancia de visionado ideal para tu televisor 4K o 8K basándote en los estándares cinematográficos de THX y SMPTE.";
const image = "/images/utilities/distancia-tv.png";

const bibliographyLinks = [
    {
        name: "THX Certification Standards",
        url: "https://www.thx.com/certification/",
    },
    {
        name: "SMPTE EG-18-1994",
        url: "https://www.intertekinform.com/en-gb/standards/smpte-eg-18-1994-894277/",
    },
    {
        name: "Carlton Bale's Home Theater Chart",
        url: "https://carltonbale.com/home-theater/home-theater-calculator/",
    },
];
---

<LayoutUtility title={title} description={description} image={image} gradientFrom="from-blue-50">
    <div slot="header">
        <UtilityHeader
            titleHighlight="Distancia"
            titleBase="Televisor"
            description="Encuentra el punto óptimo de inmersión para tu Home Cinema basándote en ciencia y trigonometría."
            gradientFrom="from-blue-600"
            gradientTo="to-indigo-600"
        />
    </div>

    <TVDistanceCalculator />

    <div slot="seo">
        <TVDistanceCalculatorSEO />
    </div>

    <Bibliography slot="bibliography" links={bibliographyLinks} />
</LayoutUtility>
