---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import TVDistanceCalculator from "../../components/utilidades/tv-distance/TVDistanceCalculator.astro";
import TVDistanceCalculatorSEO from "../../components/utilidades/tv-distance/TVDistanceCalculatorSEO.astro";

const title = "Calculadora Distancia TV | Pulgadas y Resolución Óptima";
const description =
    "Calcula la distancia de visionado ideal para tu televisor 4K o 8K basándote en los estándares cinematográficos de THX y SMPTE.";
const image = "/images/utilities/distancia-tv.png";
---

<LayoutUtility title={title} description={description} image={image} gradientFrom="from-blue-50">
    <div slot="header">
        <UtilityHeader
            titleHighlight="Distancia"
            titleBase="Televisor"
            description="Encuentra el punto óptimo de inmersión para tu Home Cinema basándote en ciencia y trigonometría."
            gradientFrom="from-blue-600"
            gradientTo="to-indigo-600"
            reverse={true}
        />
    </div>

    <TVDistanceCalculator />

    <div slot="seo">
        <TVDistanceCalculatorSEO />
    </div>
</LayoutUtility>
