---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import DuplicateCssRemover from "../../components/utilidades/duplicate-css-remover/DuplicateCssRemover.astro";
import DuplicateCssRemoverSEO from "../../components/utilidades/duplicate-css-remover/DuplicateCssRemoverSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Eliminador de CSS Duplicado Online Gratis | Limpiar y Unificar Estilos"
    description="Herramienta online gratuita para limpiar y purgar código CSS duplicado. Unifica selectores redundantes y ahorra tamaño de archivo reduciendo bloques css."
    image="/images/utilities/duplicate-css-remover.webp"
    gradientFrom="from-emerald-500"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Duplicate CSS"
            titleBase="Remover"
            description="Borra tus estilos redundantes, unifica selectores idénticos de manera inteligente respetando la cascada y reduce el peso de descarga de tus archivos CSS instantáneamente."
            gradientFrom="from-emerald-500"
            gradientTo="to-cyan-500"
            reverse={true}
        />
    </div>

    <DuplicateCssRemover />

    <div slot="seo">
        <DuplicateCssRemoverSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Web Vitals: Impacto del CSS en Render-Blocking y FCP",
                    url: "https://web.dev/articles/render-blocking-resources",
                },
                {
                    name: "Especificación W3C: Cascada CSS y Herencia",
                    url: "https://www.w3.org/TR/css-cascade-4/",
                },
                {
                    name: "Clean CSS - Librería y metodologías para CSS minifier superior",
                    url: "https://github.com/clean-css/clean-css",
                },
            ]}
        />
    </div>
</LayoutUtility>
