---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import CocktailBalancer from "../../components/utilidades/cocktail-balancer/CocktailBalancer.astro";
import CocktailBalancerSEO from "../../components/utilidades/cocktail-balancer/CocktailBalancerSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Equilibrador de Cócteles - La Ley del Sour"
    description="Calcula el equilibrio perfecto entre dulce y ácido para tus cócteles. Domina la proporción áurea de la mixología."
    image="/images/utilities/cocktail-balancer.webp"
    category="Alcohol & Party"
    gradientFrom="from-emerald-900"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Cócteles"
            titleBase="Equilibrador de"
            description="La herramienta definitiva para perfeccionar la Ley del Sour. ¿Tu mezcla está en armonía o es un desastre?"
            gradientFrom="from-emerald-400"
            gradientTo="to-lime-400"
            reverse={true}
        />
    </div>

    <CocktailBalancer />

    <div slot="seo">
        <CocktailBalancerSEO />
    </div>

    <Bibliography
        slot="bibliography"
        links={[
            {
                name: "Liquid Intelligence: The Art and Science of the Perfect Cocktail",
                url: "http://www.cookingissues.com/index.html%3Fp=4587.html",
            },
            {
                name: "The Bar Book: Elements of Cocktail Technique - Jeffrey Morgenthaler",
                url: "https://jeffreymorgenthaler.com/the-bar-book/",
            },
            {
                name: "Cocktail Balance - Difford's Guide",
                url: "https://www.diffordsguide.com/encyclopedia/1066/cocktails/cocktail-balance",
            },
            {
                name: "Acidity in Cocktails - Camper English",
                url: "https://www.alcademics.com/2014/06/acidity-in-cocktails.html",
            },
        ]}
    />
</LayoutUtility>
