---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import FormatStripperComponent from "../../components/utilidades/format-stripper/FormatStripper.astro";
import FormatStripperSEO from "../../components/utilidades/format-stripper/FormatStripperSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Limpiador de Formato y Texto Online: Eliminar Basura"
    description="Limpiador de texto online para normalizar cualquier contenido copiado. Elimina formato basura, espacios dobles y convierte a formatos específicos"
    image="/images/utilities/format-stripper.webp"
    category="Archivos y Texto"
    gradientFrom="from-emerald-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Format"
            titleBase="Stripper"
            description="Elimina el formato basura, saltos de línea y espacios extra. Copia, pega y limpia."
            gradientFrom="from-emerald-600"
            gradientTo="to-teal-600"
            reverse={false}
        />
    </div>

    
    <FormatStripperComponent />

    
    <div slot="seo">
        <FormatStripperSEO />
    </div>
</LayoutUtility>
