---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import ZalgoGenerator from "../../components/utilidades/zalgo-generator/ZalgoGenerator.astro";
import ZalgoGeneratorSEO from "../../components/utilidades/zalgo-generator/ZalgoGeneratorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const title = "Generador de Texto Zalgo | Corrupción de Texto Glitch";
const description =
    "Crea texto corrupto y deformado con nuestro generador Zalgo. Personaliza la intensidad y el estilo para tus redes sociales o proyectos creativos.";
const image = "/images/utilities/generador-zalgo.png";
---

<LayoutUtility title={title} description={description} image={image} gradientFrom="from-purple-100">
    <div slot="header">
        <UtilityHeader
            titleHighlight="Zalgo"
            titleBase="Generador"
            description="Transforma cualquier texto plano en una amalgama de caracteres corruptos y desbordantes."
            gradientFrom="from-purple-600"
            gradientTo="to-indigo-600"
            reverse={true}
        />
    </div>

    <ZalgoGenerator />

    <div slot="seo">
        <ZalgoGeneratorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Unicode Standard - Combining Characters",
                    url: "https://www.unicode.org/standard/principles.html#Combining_Characters",
                },
                {
                    name: "Zalgo Meme History",
                    url: "https://knowyourmeme.com/memes/zalgo",
                },
            ]}
        />
    </div>
</LayoutUtility>
