---
/* src/pages/utilidades/generador-utm.astro */
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import UtmGenerator from "../../components/utilidades/utm-generator/UtmGenerator.astro";
import UtmGeneratorSEO from "../../components/utilidades/utm-generator/UtmGeneratorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const title = "Generador de Parámetros UTM para Google Analytics";
const description =
    "Crea enlaces de seguimiento precisos para tus campañas de marketing digital. Optimizado para Google Analytics y otras herramientas de analítica.";

const links = [
    {
        name: "Collect campaign data with custom URLs - Google Analytics Help (2024)",
        url: "https://support.google.com/analytics/answer/1033863",
    },
    {
        name: "Best Practices for Campaign URL Tagging - VWO Blog (2023)",
        url: "https://vwo.com/blog/utm-tagging-best-practices/",
    },
];
---

<LayoutUtility
    title={title}
    description={description}
    image="/images/utilities/utm-generator.webp"
    gradientFrom="from-indigo-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Generador"
            titleBase="de UTM"
            description="La herramienta definitiva para rastrear el éxito de tus campañas y optimizar tu ROI basado en datos reales."
            gradientFrom="from-indigo-500"
            gradientTo="to-blue-600"
        />
    </div>

    <UtmGenerator />

    <div slot="seo">
        <UtmGeneratorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={links} />
    </div>
</LayoutUtility>
