---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import AudioGenerator from "../../components/utilidades/audio-generator/AudioGenerator.astro";
import AudioGeneratorSEO from "../../components/utilidades/audio-generator/AudioGeneratorSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Generador de Tonos y Frecuencias Online"
    description="Genera ondas sinusoidales, cuadradas y triangulares. Prueba tus altavoces, subwoofer o auriculares."
    image="/images/utilities/audio.png"
    gradientFrom="from-rose-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="tonos"
            titleBase="generador"
            description="Crea frecuencias puras desde 20Hz hasta 20kHz. Test de altavoces profesional."
            gradientFrom="from-rose-500"
            gradientTo="to-pink-600"
        />
    </div>

    
    <AudioGenerator />

    
    <div slot="seo">
        <AudioGeneratorSEO />
    </div>
</LayoutUtility>
