---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import BeadPatternGenerator from "../../components/utilidades/bead-pattern-generator/BeadPatternGenerator.astro";
import BeadPatternGeneratorSEO from "../../components/utilidades/bead-pattern-generator/BeadPatternGeneratorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliographyLinks = [
    {
        name: "Scikit-Image: Color Quantization using K-Means",
        url: "https://scikit-learn.org/0.23/auto_examples/cluster/plot_color_quantization.html",
    },
    {
        name: "Miyuki Delica Beads Specification",
        url: "https://www.miyuki-beads.co.jp/english/seedbeads/delica.html",
    },
    {
        name: "Visgraf Lab: Dithering Algorithms",
        url: "https://www.visgraf.impa.br/Courses/ip00/proj/Dithering1/floyd_steinberg_dithering.html",
    },
];
---

<LayoutUtility
    title="Generador de Patrones de Cuentas y Pixel Art - Miyuki, Hama, Punto de Cruz"
    description="Convierte imágenes en patrones de cuentas (beads), pixel art o punto de cruz. Optimiza colores, ajusta el tamaño de la malla y exporta tu guía de diseño."
    image="/images/utilities/generador-patrones-cuentas.png"
    gradientFrom="from-pink-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Patrones"
            titleBase="de Cuentas"
            description="Transforma cualquier imagen en una guía perfecta para Miyuki, Hama Beads o Punto de Cruz."
            gradientFrom="from-pink-500"
            gradientTo="to-purple-600"
        />
    </div>

    <BeadPatternGenerator />

    <div slot="seo">
        <BeadPatternGeneratorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={bibliographyLinks} />
    </div>
</LayoutUtility>
