---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import PasswordGenerator from "../../components/utilidades/password/PasswordGenerator.astro";
import PasswordGeneratorSEO from "../../components/utilidades/password/PasswordGeneratorSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Generador de Contraseñas Seguras y Aleatorias"
    description="Crea contraseñas robustas e imposibles de hackear al instante. Herramienta gratuita de ciberseguridad para generar claves aleatorias y seguras."
    image="/images/utilities/password-generator.png"
    gradientFrom="from-emerald-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="generador de"
            titleBase="contraseñas"
            description="Fortalece tu seguridad digital. Genera claves aleatorias de alta entropía."
            gradientFrom="from-emerald-500"
            gradientTo="to-teal-700"
        />
    </div>

    
    <PasswordGenerator />

    
    <div slot="seo">
        <PasswordGeneratorSEO />
    </div>
</LayoutUtility>
