---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import RouxGuide from "../../components/utilidades/roux-guide/RouxGuide.astro";
import RouxGuideSEO from "../../components/utilidades/roux-guide/RouxGuideSEO.astro";
---

<LayoutUtility
    title="Guía Maestra de Roux y Salsas Madre | Utilidades de Cocina"
    description="Calculadora interactiva de Roux y guía visual de Salsas Madre francesas. Aprende a crear Bechamel, Velouté y Espagnole perfectas."
    image="/images/utilities/guia-roux.png"
    gradientFrom="from-amber-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Roux"
            titleBase="Guía Maestra de"
            description="La base de la alta cocina francesa, desmitificada. Crea salsas perfectas con proporciones exactas."
            gradientFrom="from-amber-500"
            gradientTo="to-orange-600"
            reverse={true}
        />
    </div>

    
    <RouxGuide />

    
    <div slot="seo">
        <RouxGuideSEO />
    </div>
</LayoutUtility>
