---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import TextileMaster from "../../components/utilidades/textiles/master/TextileMaster.astro";
import TextileMasterSEO from "../../components/utilidades/textiles/master/TextileMasterSEO.astro";
---

<LayoutUtility
    title="Guía Maestra de Cuidado Textil | Textile Master"
    description="Aprende a lavar, secar y planchar cada tipo de fibra. Instrucciones científicas para lana, seda, lino y materiales sintéticos."
    image="/images/utilities/guia-lavado-textil.png"
    gradientFrom="from-blue-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Maestro"
            titleBase="Textil"
            description="La guía definitiva para que tu ropa favorita dure décadas, no lavados."
            gradientFrom="from-blue-600"
            gradientTo="to-indigo-700"
        />
    </div>

    <TextileMaster />

    <div slot="seo">
        <TextileMasterSEO />
    </div>
</LayoutUtility>
