---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import JsonFormatterComponent from "../../components/utilidades/json-formatter/JsonFormatter.astro";
import JsonFormatterSEO from "../../components/utilidades/json-formatter/JsonFormatterSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";

const title = "Formateador y Validador JSON Online Gratuito";
const description =
    "Herramienta online gratuita para formatear, validar y reparar código JSON. Formatea y embellece JSON. Detecta errores de sintaxis y mejora la lectura del código";
---

<LayoutUtility
    title={title}
    description={description}
    image="/images/utilities/json-formatter.webp"
    category="Desarrollo Web"
    gradientFrom="from-fuchsia-100"
>
    <!-- Custom Header -->
    <div slot="header">
        <UtilityHeader
            titleHighlight="Formatter"
            titleBase="JSON"
            description="Valida, repara y embellece tu código JSON. Detecta errores de sintaxis y formatéalo con colores para una mejor lectura."
            gradientFrom="from-violet-500"
            gradientTo="to-fuchsia-500"
            reverse={true}
        />
    </div>

    <!-- Tool -->
    <JsonFormatterComponent />

    <!-- SEO -->
    <div slot="seo">
        <JsonFormatterSEO />
    </div>
</LayoutUtility>
