---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import ChromaticLens from "../../components/utilidades/chromatic-lens/ChromaticLens.astro";
import ChromaticLensSEO from "../../components/utilidades/chromatic-lens/ChromaticLensSEO.astro";

const TITLE = "Lente Cromática: Extractor de Paletas";
const DESCRIPTION =
    "Genera paletas de colores profesionales a partir de cualquier imagen utilizando el algoritmo de Corte Mediano. Herramienta de diseño esencial.";
---

<LayoutUtility
    title={TITLE}
    description={DESCRIPTION}
    image="/images/utilities/lente-cromatica.png"
    category="Audiovisual y Fotografía"
    gradientFrom="from-fuchsia-100"
    gradientTo="to-purple-300"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Cromática"
            titleBase="Lente"
            description="Extrae la paleta de colores dominante de tus imágenes favoritas al instante. Privado, rápido y matemáticamente preciso."
            gradientFrom="from-fuchsia-500"
            gradientTo="to-purple-600"
            reverse={true}
        />
    </div>

    <ChromaticLens />

    <div slot="seo">
        <ChromaticLensSEO />
    </div>
</LayoutUtility>
