---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import CutOptimizer from "../../components/utilidades/cut-optimizer/CutOptimizer.astro";
import CutOptimizerSEO from "../../components/utilidades/cut-optimizer/CutOptimizerSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Optimizador de Cortes Lineales (Cut List Optimizer) | DIY & Makers"
    description="Calculadora gratuita para optimizar cortes en madera, metal o tuberías. Minimiza el desperdicio con nuestro algoritmo de Bin Packing (1D) online."
    image="/images/utilities/cut-optimizer.png"
    gradientFrom="from-orange-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="cortes"
            titleBase="Optimizador de"
            description="Maximiza tu material y minimiza el desperdicio. Algoritmo inteligente para carpintería y metalurgia."
            gradientFrom="from-orange-500"
            gradientTo="to-amber-600"
            reverse={true}
        />
    </div>

    <CutOptimizer />

    <div slot="seo">
        <CutOptimizerSEO />
    </div>
</LayoutUtility>
