---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SynesthesiaPainter from "../../components/utilidades/synesthesia-painter/SynesthesiaPainter.astro";
import SynesthesiaPainterSEO from "../../components/utilidades/synesthesia-painter/SynesthesiaPainterSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliographyLinks = [
    {
        name: "American Psychological Association - Synesthesia",
        url: "https://www.apa.org/monitor/mar01/synesthesia",
    },
    {
        name: "Cytowic, R. E., & Eagleman, D. M. (2009). Wednesday is Indigo Blue",
        url: "https://mitpress.mit.edu/9780262516709/wednesday-is-indigo-blue/",
    },
    {
        name: "Simner, J., et al. (2005). Synaesthesia: The prevalence of atypical cross-modal experiences",
        url: "https://pubmed.ncbi.nlm.nih.gov/16904147/",
    },
];
---

<LayoutUtility
    title="Pintor de Sinestesia (¿De qué color es tu nombre?)"
    description="Visualiza palabras y nombres como lo haría un sinésteta. Descubre el color de tu nombre con esta herramienta interactiva."
    image="/images/utilities/synesthesia-painter.png"
    gradientFrom="from-indigo-100"
    gradientTo="to-purple-200"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Sinestesia"
            titleBase="Pintor de"
            description="Escribe algo y descubre de qué color son tus palabras. Una simulación de sinestesia grafema-color."
            gradientFrom="from-indigo-500"
            gradientTo="to-purple-600"
            reverse={true}
        />
    </div>

    
    <SynesthesiaPainter />

    
    <div slot="seo">
        <SynesthesiaPainterSEO />
    </div>

    
    <div slot="bibliography">
        <Bibliography links={bibliographyLinks} />
    </div>
</LayoutUtility>
