---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import MiniAdventures from "../../components/utilidades/mini-adventures/MiniAdventures.astro";
import MiniAdventuresSEO from "../../components/utilidades/mini-adventures/MiniAdventuresSEO.astro";
---

<LayoutUtility
    title="Pronóstico de Mini Aventuras - Sal de la Rutina"
    description="Genera microaventuras diarias para descubrir nuevos lugares, sabores y experiencias. Un simulador de curiosidad sin registros ni complicaciones."
    image="/images/utilities/mini-adventures.png"
    gradientFrom="from-zinc-950"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Mini"
            titleBase="Aventuras"
            description="Generador aleatorio de retos diarios para romper la monotonía y explorar tu entorno."
            gradientFrom="from-indigo-500"
            gradientTo="to-purple-600"
        />
    </div>

    <MiniAdventures />

    <div slot="seo">
        <MiniAdventuresSEO />
    </div>
</LayoutUtility>
