---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import StainChemistry from "../../components/utilidades/textiles/stain-chemistry/StainChemistry.astro";
import StainChemistrySEO from "../../components/utilidades/textiles/stain-chemistry/StainChemistrySEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliography = [
    {
        name: "Textile Stain Removal Guide - Cornell University (2021)",
        url: "https://ccetompkins.org/resources/stain-removal-guide",
    },
    {
        name: "Chemistry of Stain Removal - Compound Interest (2015)",
        url: "https://www.compoundchem.com/2015/06/18/stain-removal/",
    },
    {
        name: "Removing Stains from Washable Fabrics - University of Georgia Extension (2023)",
        url: "https://agrilifeextension.tamu.edu/wp-content/uploads/2025/04/Removing-Stains-From-Washable-Fabric.pdf",
    },
];
---

<LayoutUtility
    title="Química de Manchas: Protocolos Científicos para Textiles"
    description="Herramienta técnica para eliminar manchas difíciles. Protocolos basados en química aplicada según el tipo de fibra (natural o sintética)."
    image="/images/utilities/stain-chemistry.webp"
    gradientFrom="from-indigo-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Química"
            titleBase="de Manchas"
            description="Protocolos técnicos para eliminar manchas difíciles sin destruir las fibras. Ciencia aplicada al cuidado textil."
            gradientFrom="from-indigo-500"
            gradientTo="to-purple-600"
            reverse={false}
        />
    </div>

    <StainChemistry />

    <div slot="seo">
        <StainChemistrySEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={bibliography} />
    </div>
</LayoutUtility>
