---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import DewPointCalculator from "../../components/utilidades/dew-point-calculator/DewPointCalculator.astro";
import DewPointCalculatorSEO from "../../components/utilidades/dew-point-calculator/DewPointCalculatorSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const links = [
    {
        name: "Magnus Approximation of the Dew-Point - Meteorological Applications (2011)",
        url: "https://es.scribd.com/document/331352069/dew-point",
    },
    {
        name: "Guide to Meteorological Instruments and Methods of Observation - WMO (2021)",
        url: "https://community.wmo.int/site/knowledge-hub/programmes-and-initiatives/instruments-and-methods-of-observation-programme-imop/guide-instruments-and-methods-of-observation-wmo-no-8",
    },
];
---

<LayoutUtility
    title="Calculadora de Punto de Rocío | Evita el Moho en Casa"
    description="Calcula la temperatura de condensación en tus paredes usando la humedad y temperatura ambiente. Una herramienta vital para prevenir humedades y salud estructural."
    image="/images/utilities/punto-de-rocio.png"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Punto de Rocío"
            titleBase="Calculadora de"
            description="Predice cuándo se formará condensación en tus paredes y evita la aparición de moho tóxico."
            gradientFrom="from-purple-500"
            gradientTo="to-blue-600"
            reverse={true}
        />
    </div>

    <DewPointCalculator />

    <div slot="seo">
        <DewPointCalculatorSEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={links} />
    </div>
</LayoutUtility>
