---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import WaterPurifier from "../../components/utilidades/water-purifier/WaterPurifier.astro";
import WaterPurifierSEO from "../../components/utilidades/water-purifier/WaterPurifierSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliography = [
    {
        name: "World Health Organization (WHO) - Water Sanitation and Health",
        url: "https://www.who.int/docs/default-source/coronaviruse/care-cleaning-disinfection-and-sterilization-es.pdf",
    },
    {
        name: "Centers for Disease Control and Prevention (CDC) - Making Water Safe in an Emergency",
        url: "https://www.cdc.gov/water-emergency/about/index.html",
    },
    {
        name: "Red Cross - Water Treatment",
        url: "https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/water-safety/water-treatment.html",
    },
];
---

<LayoutUtility
    title="Purificador de Agua"
    description="Calculadora de dosis de lejía para potabilizar agua de emergencia. Herramienta de supervivencia basada en guías de la OMS y CDC."
    image="/images/utilities/purificador-agua.png"
    gradientFrom="from-cyan-500"
    gradientTo="to-blue-600"
>
    <WaterPurifier />

    <div slot="seo">
        <WaterPurifierSEO />
    </div>

    <div slot="bibliography">
        <Bibliography links={bibliography} />
    </div>
</LayoutUtility>
