---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import RutasMap from "../../components/pages/rutas/RutasMap.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Calculadora de Rutas Óptimas Gratis | Reordena Paradas Inteligente"
    description="Optimiza tus rutas de reparto o viaje gratis. Nuestra herramienta reordena tus paradas automáticamente para encontrar el camino más corto y eficiente (One-Way)."
    image="/images/utilities/rutas.png"
    gradientFrom="from-cyan-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Rutas Óptimas"
            titleBase="Calculadora de"
            description="Añade tus paradas en cualquier orden. Nosotros las reordenamos para darte la ruta más rápida y eficiente."
            gradientFrom="from-cyan-500"
            gradientTo="to-blue-600"
            reverse={true}
        />
    </div>

    
    <div
        class="bg-white dark:bg-slate-900 rounded-2xl shadow-xl overflow-hidden border border-slate-200 dark:border-slate-800"
    >
        <RutasMap />
    </div>

    
    <div slot="seo">
        
    </div>
</LayoutUtility>
