---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import SrtResync from "../../components/utilidades/srt-resync/SrtResync.astro";
import SrtResyncSEO from "../../components/utilidades/srt-resync/SrtResyncSEO.astro";
---

<LayoutUtility
    title="Sincronizar Subtítulos SRT Online - Ajustar Tiempos"
    description="Herramienta gratuita para sincronizar subtítulos SRT. Adelanta o retrasa los tiempos de tus subtítulos en segundos o milisegundos fácilmente."
    image="/images/utilities/srt-resync.webp"
    gradientFrom="from-cyan-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Sincronizador"
            titleBase="de Subtítulos"
            description="Arregla esos subtítulos que van a destiempo. Ajusta, visualiza y descarga en segundos."
            gradientFrom="from-cyan-500"
            gradientTo="to-blue-600"
            reverse={false}
        />
    </div>

    
    <SrtResync />

    
    <div slot="seo">
        <SrtResyncSEO />
    </div>
</LayoutUtility>
