---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import KeyboardTester from "../../components/utilidades/keyboard-test/KeyboardTester.astro";
import KeyboardTesterSEO from "../../components/utilidades/keyboard-test/KeyboardTesterSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Test de Teclado y Ghosting Online"
    description="Comprueba si tu teclado sufre de Ghosting o Key Jamming. Visualizador de teclas en tiempo real y contador N-Key Rollover."
    image="/images/utilities/teclado.png"
    category="Hardware y Periféricos"
    gradientFrom="from-slate-100"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="teclado"
            titleBase="test"
            description="¿Cuántas teclas puedes pulsar a la vez? Verifica la respuesta de tu periférico."
            gradientFrom="from-slate-600"
            gradientTo="to-slate-900"
        />
    </div>

    <KeyboardTester />

    <div slot="seo">
        <KeyboardTesterSEO />
    </div>
</LayoutUtility>
