---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import MouseTester from "../../components/utilidades/mouse-test/MouseTester.astro";
import MouseTesterSEO from "../../components/utilidades/mouse-test/MouseTesterSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Test de Polling Rate del Ratón Online"
    description="Comprueba los Hz reales de tu ratón. Verifica si tu mouse gaming funciona a 1000Hz o más con nuestra herramienta profesional."
    image="/images/utilities/mouse.png"
    category="Hardware y Periféricos"
    gradientFrom="from-emerald-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="ratón"
            titleBase="analizador"
            description="Mide la velocidad de respuesta y estabilidad de tu sensor en tiempo real."
            gradientFrom="from-emerald-500"
            gradientTo="to-teal-600"
        />
    </div>

    
    <MouseTester />

    
    <div slot="seo">
        <MouseTesterSEO />
    </div>
</LayoutUtility>
