---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import ReactionTester from "../../components/utilidades/reaction-time/ReactionTester.astro";
import ReactionTesterSEO from "../../components/utilidades/reaction-time/ReactionTesterSEO.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
---

<LayoutUtility
    title="Test de Velocidad de Reacción (Reflejos) - Benchmark Online"
    description="Mide tus reflejos en milisegundos con nuestro test de reacción profesional. Compite por rangos desde 'Tortuga' hasta 'Ciberatleta' y analiza tu rendimiento."
    image="/images/utilities/reflejos.png"
    category="Salud y Deporte"
    gradientFrom="from-indigo-100"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="reacción"
            titleBase="velocidad de"
            description="Pon a prueba tus reflejos con precisión milimétrica. ¿Eres más rápido que un piloto de F1?"
            gradientFrom="from-indigo-500"
            gradientTo="to-blue-600"
            reverse={true}
        />
    </div>

    
    <ReactionTester />

    
    <div slot="seo">
        <ReactionTesterSEO />
    </div>
</LayoutUtility>
