---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import MusicalTypography from "../../components/utilidades/musical-typography/MusicalTypography.astro";
import MusicalTypographySEO from "../../components/utilidades/musical-typography/MusicalTypographySEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";
---

<LayoutUtility
    title="Escalador de Tipografía Musical | Calculadora de Escala Modular"
    description="Crea jerarquías visuales armónicas con escalas modulares basadas en proporciones musicales. Genera variables CSS para tu diseño web."
    image="/images/utilities/tipografia-musical.png"
    gradientFrom="from-indigo-500"
>
    
    <div slot="header">
        <UtilityHeader
            titleHighlight="Tipografía"
            titleBase="Musical"
            description="Armoniza tu diseño web utilizando proporciones matemáticas y escalas musicales."
            gradientFrom="from-indigo-500"
            gradientTo="to-purple-600"
        />
    </div>

    
    <MusicalTypography />

    
    <div slot="seo">
        <MusicalTypographySEO />
    </div>

    
    <div slot="bibliography">
        <Bibliography
            links={[
                {
                    name: "Bringhurst, R. (1992). The Elements of Typographic Style. Hartley & Marks.",
                    url: "https://en.wikipedia.org/wiki/The_Elements_of_Typographic_Style",
                },
                {
                    name: "Brown, T. (2010). More Meaningful Typography. A List Apart.",
                    url: "https://alistapart.com/article/more-meaningful-typography/",
                },
                {
                    name: "Physics of Music. Musical Intervals and Scales. Michigan Technological University.",
                    url: "https://es.scribd.com/document/199729396/Physics-of-Music-Notes",
                },
            ]}
        />
    </div>
</LayoutUtility>
