---
import LayoutUtility from "../../layouts/LayoutUtility.astro";
import UtilityHeader from "../../components/utilidades/UtilityHeader.astro";
import BreathingVisualizer from "../../components/utilidades/breathing-visualizer/BreathingVisualizer.astro";
import BreathingVisualizerSEO from "../../components/utilidades/breathing-visualizer/BreathingVisualizerSEO.astro";
import Bibliography from "../../components/utilidades/Bibliography.astro";

const bibliographyLinks = [
    {
        name: "Box Breathing: Benefits and How to Do It (Cleveland Clinic)",
        url: "https://health.clevelandclinic.org/box-breathing-benefits",
    },
    {
        name: "The Effect of Diaphragmatic Breathing on Attention, Negative Affect and Cortisol (Frontiers in Psychology)",
        url: "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5455070/",
    },
    {
        name: "Voluntary activation of the sympathetic nervous system and attenuation of the innate immune response in humans (PNAS - Wim Hof Study)",
        url: "https://www.pnas.org/doi/10.1073/pnas.1322174111",
    },
    {
        name: "Brief structured respiration practices enhance mood and reduce physiological arousal (Cell Reports Medicine)",
        url: "https://www.cell.com/cell-reports-medicine/fulltext/S2666-3791(22)00474-8",
    },
    {
        name: "Navy SEALs Box Breathing: How to control your stress response",
        url: "https://www.medicalnewstoday.com/articles/321805",
    },
];
---

<LayoutUtility
    title="Visualizador de Respiración Consciente - Box Breathing y Método Wim Hof"
    description="Reduce el estrés y la ansiedad al instante con nuestro visualizador de respiración. Guía bio-feedback para Box Breathing, 4-7-8 y Método Wim Hof."
    image="/images/utilities/visualizador-respiracion.png"
    gradientFrom="from-blue-50"
>
    <div slot="header">
        <UtilityHeader
            titleHighlight="Respiración"
            titleBase="Visualizador"
            description="Entrena tu sistema nervioso para la calma. Una herramienta de bio-feedback visual para controlar el estrés y fortalecer tu sistema inmune."
            gradientFrom="from-blue-500"
            gradientTo="to-emerald-500"
            reverse={true}
        />
    </div>

    <BreathingVisualizer />

    <div slot="seo">
        <BreathingVisualizerSEO />
    </div>

    <div slot="bibliography">
        <Bibliography
            links={bibliographyLinks}
            title="Ciencia de la Respiración y Evidencia Médica"
        />
    </div>
</LayoutUtility>
