---
import { Icon } from "astro-icon/components";
import "./MechanicsFilter.css";

interface Props {
    allTags: string[];
}

const { allTags } = Astro.props;
---

<div class="mfilt-wrapper">
    <div class="mfilt-header">
        <h1 class="mfilt-title">
            mecánicas
        </h1>

        <div class="mfilt-group" id="filters">
            <button
                class="filter-btn active"
                data-filter="all"
            >
                Todos
            </button>
            <button
                class="filter-btn"
                data-filter="mobile"
            >
                <Icon name="mdi:cellphone" class="filter-btn-icon" /> Mobile
            </button>
            <button
                class="filter-btn"
                data-filter="desktop"
            >
                <Icon name="mdi:monitor" class="filter-btn-icon" /> Desktop
            </button>
        </div>
    </div>

    <div class="mfilt-tags-row no-scrollbar">
        {
            allTags.map((tag) => (
                <button
                    class="tag-filter-btn"
                    data-tag={tag}
                >
                    #{tag}
                </button>
            ))
        }
    </div>
</div>
