---
import BeerControls from "./ui/BeerControls.astro";
import BeerVisualizer from "./ui/BeerVisualizer.astro";
---

<div class="w-full max-w-5xl mx-auto px-4 md:px-0 py-12" id="beer-calculator">
    <div class="grid lg:grid-cols-2 gap-12 lg:items-start">
        <div class="space-y-12">
            <BeerControls />
        </div>

        <div class="lg:sticky lg:top-8">
            <BeerVisualizer />
        </div>
    </div>
</div>
