---
import "./Footer.css";

interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<footer class={`footer ${className}`}>
    <p>&copy; {new Date().getFullYear()} Juan José López Moya</p>
    <p class="footer-license">
        <a
            href="https://creativecommons.org/licenses/by-nc/4.0/"
            target="_blank"
            rel="license noopener noreferrer"
        >Licencia CC BY-NC 4.0</a>
    </p>
</footer>
