---
import "./HeaderKitty.css";
---

<div class="header-kitty-container">
    <svg viewBox="0 0 32 32" class="header-kitty-svg" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
        <path d="M7 3h1v4H7V3z M24 3h1v4h-1V3z M8 4h1v3H8V4z M23 4h1v3h-1V4z M9 5h1v2H9V5z M22 5h1v2h-1V5z M10 6h12v1H10V6z M7 7h18v9H7V7z M9 16h14v1H9v-1z M11 17h10v1H11v-1z M12 18h8v2h-8v-2z" fill="#111318" class="kitty-body" />
        <path d="M10 9h4v4h-4V9z M18 9h4v4h-4V9z" fill="#ffff00" class="header-kitty-eyes" />
        <path d="M12 9h1v2h-1V9z M19 9h1v2h-1V9z" fill="#000000" class="header-kitty-pupils" />
        <path d="M15 13h2v1h-2v-1z" fill="#ffffff" />
        <path d="M21 6h1v1h-1V6z M23 6h1v1h-1V6z M21 5h1v1h-1V5z M23 5h1v1h-1V5z" fill="#ff69b4" class="kitty-bow-loops" />
        <path d="M22 6h1v1h-1V6z" fill="#d62867" class="kitty-bow-knot" />
    </svg>
</div>
