$l-layout-sidebar: 150px;

.l-default {
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  &__main {
    display: grid;
    grid-template-columns: 150px 1fr;
    min-height: calc(100vh - 40px);
  }

  &__menu,
  &__content {
    height: 100%;
  }
}
