.l-grid {
  display: grid;
  width: 100%;
  height: 100%;

  & > * {
    padding: 10px;
    max-height: 50vh;

    &:first-child {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: white;
    }

    &:nth-child(3) {
      background-color: green;
    }

    &:nth-child(4) {
      background-color: blue;
    }
  }

  &--4 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
