---
---
<div class="stats-grid">
  <div class="stat-card">
      <span class="stat-label">Rendimiento Real</span>
      <span class="stat-value" id="out-perf">0.00 <small>L/MN</small></span>
  </div>
  <div class="stat-card">
      <span class="stat-label">Autonomía Horas</span>
      <span class="stat-value" id="out-hours">0.0 <small>h</small></span>
  </div>
  <div class="stat-card">
      <span class="stat-label">Millas Seguras</span>
      <span class="stat-value danger" id="out-safe">0.0 <small>MN</small></span>
  </div>
  <div id="cost-card" class="stat-card hidden">
      <span class="stat-label">Valor Tanque</span>
      <span class="stat-value" id="out-cost">0.00 <small>€</small></span>
  </div>
</div>
