---
---
<div class="hero-display">
  <div class="display-header">
      <div class="display-title">Alcance Máximo</div>
      <div id="g-perc" style="font-size: 0.65rem; font-weight: 800; color: var(--secondary); opacity: 0.7;">0% FUEL</div>
  </div>
  <div class="main-value-box">
      <span id="out-dist" class="main-value">0.0</span>
      <span class="main-unit">MN</span>
  </div>
  <div class="progress-track">
      <div id="g-fill" class="progress-fill"></div>
      <div id="g-mark" class="marker" style="left: 20%;"></div>
  </div>
</div>
