html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden auto;
  color: var(--color-text);
}

strong {
  font-weight: var(--font-weight-bold);
}

.jao-title {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-400);
  letter-spacing: 0.065em;

  &--h1 {
    font-size: em(28px);
  }

  &--h2 {
    font-size: em(24px);
  }

  &--h3 {
    font-size: em(22px);
  }

  &--h4 {
    font-size: em(18px);
  }
}

.jao-capitalized {
  font-size: em(16px);
  line-height: var(--line-height-200);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  &--small {
    font-size: em(14px);
  }

  &--tiny {
    font-size: em(12px);
  }

  &--mini {
    font-size: em(10px);
  }
}

.jao-link {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  color: var(--color-text);

  &--primary {
    color: var(--color-primary);
  }
}

.jao-text {
  line-height: var(--line-height-400);

  &--tiny {
    font-size: em(12px);
  }

  &--small {
    font-size: em(14px);
  }

  &--medium {
    font-size: em(18px);
  }

  &--big {
    font-size: em(24px);
  }

  p + p {
    margin-top: em(16px);
  }
}

.jao-page {
  padding-top: calc(em(24px) + var(--space-mobile-save-top));
  padding-bottom: calc(em(24px) + var(--space-mobile-save-bottom));
}

.jao-container {
  padding-left: var(--gap-container);
  padding-right: var(--gap-container);
}

.jao-page-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  z-index: var(--z-index-bishop);
  transform: translateX(110%);
  transition: transform 0.3s;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;

  &--open {
    transform: translateX(0);
  }
}

.jao-icon-text {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  grid-gap: em(6px);

  span {
    transform: translateY(0.125em);
  }
}

.jao-markdown {
  ul,
  ol {
    padding-left: em(18px);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: decimal;
  }

  p,
  ul,
  ol {
    &:not(:first-child) {
      margin-top: em(24px);
    }
  }
}

.jao-button-sticky {
  align-self: end;
  position: sticky;
  bottom: 0;
  z-index: var(--z-index-pawn);
  padding-top: em(24px);
  padding-bottom: calc(em(24px) + var(--space-mobile-save-bottom));
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr;
}

.u-line-through {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: currentColor;
    height: em(3px);
    transform: translateY(-50%);
    border-radius: var(--radius-200);
  }
}

.u-color {
  &-primary {
    color: var(--color-primary);
  }

  &-error {
    color: var(--color-error);
  }

  &-success {
    color: var(--color-success);
  }
}

.u-text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.u-text {
  &-bold {
    font-weight: bold;
  }

  &-normal {
    font-weight: normal;
  }

  &-light {
    font-weight: light;
  }
}

.u-pointer {
  cursor: pointer;
}
