
/* Mobile first */
@custom-media --bp-mobile (min-width: em(360px));
@custom-media --bp-big-mobile (min-width: em(600px));
@custom-media --bp-tablet (min-width: em(768px));
@custom-media --bp-big-tablet (min-width: em(992px));
@custom-media --bp-desktop (min-width: em(1280px));
@custom-media --bp-hd (min-width: em(1920px));

/* Desktop first */
@custom-media --bp-mobile-down (max-width: em(359px));
@custom-media --bp-big-mobile-down (max-width: em(599px));
@custom-media --bp-tablet-down (max-width: em(767px));
@custom-media --bp-big-tablet-down (max-width: em(991px));
@custom-media --bp-desktop-down (max-width: em(1279px));

:root {
  /* Z-Index */
  --z-index-pawn: 100;
  --z-index-knight: 200;
  --z-index-bishop: 300;
  --z-index-rook: 400;
  --z-index-queen: 500;
  --z-index-king: 600;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-extra-black: 900;

  /* Line heights */
  --line-height-100: 1;
  --line-height-200: 1.2;
  --line-height-300: 1.3;
  --line-height-400: 1.4;
  --line-height-500: 1.5;
  --line-height-600: 1.6;
  --line-height-700: 1.7;
  --line-height-800: 1.8;
  --line-height-900: 1.9;

  /* Font families */
  --font-family-one: 'Kanit';

  /* Typhography */
  --font-family: var(--font-family-one), sans-serif;
  --font-size: em(16px);
  --font-size-small: em(14px);
  --font-size-h1: em(56px);
  --font-size-h2: em(32px);
  --font-size-h3: em(24px);
  --font-size-subtitle: em(24px);
  --font-size-accent: em(12px);
  --font-weight: var(--font-weight-regular);
  --line-height: var(--line-height-400);

  @media (--bp-mobile-down) {
    --font-size: em(14px);
  }

  /* Color Palette */
  --color-white: #fff;
  --color-black: #000;
  --color-text: #070705;
  --color-neutral: #d9d9d9;
  --color-neutral-light: #f4f4f4;
  --color-neutral-dark: #8d8d8d;
  --color-primary: #84c0c6;
  --color-primary-inside: #070705;
  --color-background: #9fb7b9;
  --color-accent: #bcc1ba;
  --color-error: #d81818;
  --color-error-light: #f9caca;
  --color-success: #4ba65d;
  --color-success-light: #cfeeca;
  --color-warning: #f4cf4b;
  --color-warning-light: #fef3cd;
  --color-info: #4bafe9;
  --color-info-light: #cae1ee;
  --color-yellow: #ffe005;

  /* Radiuses */
  --radius-100: em(2px);
  --radius-200: em(4px);
  --radius-300: em(8px);

  /* Shadows */
  --shadow: em(4px) em(4px) em(16px) rgba(110, 121, 140, 0.16);

  /* Containers */
  --container-100: em(304px);
  --container-200: em(608px);
  --container-300: em(740px);
  --container-400: em(904px);
  --container-500: em(1232px);
  --container-600: em(1432px);
  --container-700: em(1632px);
  --container-800: em(1932px);

  /* Spaces */
  --space-section: em(24px);
  --space-mobile-save-top: env(safe-area-inset-top);
  --space-mobile-save-bottom: env(safe-area-inset-bottom);

  /* Gaps */
  --gap-container: em(16px);

  /* Nav */
  --nav-height: em(72px);
}
