---
interface Props {
    id: string;
    labelLeft: string;
    labelRight: string;
    theme?: string;
}

const { id, labelLeft, labelRight } = Astro.props;
import "./NuanceSlide.css";
---

<section
    class="nuance-slide"
    data-id={id}
    data-label-left={labelLeft}
    data-label-right={labelRight}
>
    {
        Astro.props.theme && (
            <div class="nuance-theme-badge-wrapper">
                <span class="nuance-theme-badge">
                    {Astro.props.theme}
                </span>
            </div>
        )
    }

    <div class="nuance-state-left">
        <slot name="left" />
    </div>

    <div class="nuance-state-right">
        <slot name="right" />
    </div>

    <div class="nuance-state-center">
        <slot name="center" />
    </div>
</section>
