---
import "./NuanceHUD.css";
---

<div
    id="nuance-hud"
    class="nhud-wrapper"
>
    <div
        class="nhud-labels"
        id="hud-labels"
    >
        <span id="label-hud-left" class="nhud-label-text">Izquierda</span>
        <span id="label-hud-right" class="nhud-label-text">Derecha</span>
    </div>

    <div
        class="nhud-track-container"
        id="balance-track"
    >
        <div
            id="visual-track"
            class="nhud-track"
            style="border-color: rgba(255,255,255,0.2)"
        >
            <div class="nhud-track-left-gradient"></div>
            <div class="nhud-track-right-gradient"></div>
            <div class="nhud-track-center-line"></div>
        </div>

        <div
            id="balance-handle"
            class="nhud-handle"
        >
            <div class="nhud-handle-line"></div>
        </div>
    </div>

    <div
        class="nhud-hint"
        id="hud-hint"
    >
        Desliza para descubrir
    </div>
</div>
