---
---

<div class="stair-panel tracking-table">
    <h2 class="panel-title">Tabla para Marcar (Cinta)</h2>
    <div class="table-wrapper">
        <table id="layout-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>H. Acumulada <small>(cm)</small></th>
                    <th>Avance L. <small>(cm)</small></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
