---
import "./SvgSanitizer.css";
import SVGInputPanel from "./SVGInputPanel.astro";
import SVGOutputPanel from "./SVGOutputPanel.astro";
---

<div class="svg-sanitizer-layout">
    <SVGInputPanel />
    <SVGOutputPanel />
</div>
