---
interface Props {
  wpm: number;
  accuracy: number;
}

const { wpm = 0, accuracy = 100 } = Astro.props;
---

<div class="typing-stats">
  <span id="wpmDisplay">{wpm} WPM</span>
  <span id="accDisplay">{accuracy}% ACC</span>
</div>
