---
interface Props {
  streak: number;
  score: number;
  lives: number;
}

const { streak, score, lives } = Astro.props;
---

<div class="typing-hud">
  <div class="typing-hud__item">
    <span class="typing-hud__label">RACHA</span>
    <span class="typing-hud__value" id="streak">{streak}</span>
  </div>
  <div class="typing-hud__item">
    <span class="typing-hud__label">PUNTOS</span>
    <span class="typing-hud__value" id="score">{score}</span>
  </div>
  <div class="typing-hud__item">
    <span class="typing-hud__label">VIDAS</span>
    <span class="typing-hud__value" id="lives">{lives}</span>
  </div>
</div>
