---
---

<div class="typing-arena">
  <div class="typing-arena__display" id="wordDisplay"></div>
  <input
    id="wordInput"
    type="text"
    class="typing-arena__input"
    placeholder=""
    autocomplete="off"
    spellcheck="false"
  />
</div>
