---
import "./DownloadRedirectLayout.css";

interface Props {
    title: string;
    appleStoreUrl?: string;
    googlePlayUrl?: string;
    fallbackUrl: string;
}

const { title, appleStoreUrl, googlePlayUrl, fallbackUrl } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="robots" content="noindex, nofollow" />
        <meta property="og:title" content={title} />
        <meta property="og:image" content="/assets/apps/pizzametrics/icon.webp" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="/assets/apps/pizzametrics/icon.webp" />
        <meta property="twitter:image" content="/assets/apps/pizzametrics/icon.webp" />

    </head>
    <body>
        <div class="main-content">
            <div class="loader"></div>
            <p>Redirigiendo a la tienda...</p>
            <div class="branding">jjlmoya</div>
        </div>

        <script is:inline define:vars={{ appleStoreUrl, googlePlayUrl, fallbackUrl }}>
            function redirect() {
                const userAgent = navigator.userAgent || window.opera;

                if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                    if (appleStoreUrl) {
                        window.location.href = appleStoreUrl;
                        return;
                    }
                }

                if (/android/i.test(userAgent)) {
                    if (googlePlayUrl) {
                        window.location.href = googlePlayUrl;
                        return;
                    }
                }

                window.location.href = fallbackUrl;
            }

            redirect();
        </script>
    </body>
</html>
