.layout-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: color 0.3s, background-color 0.3s;
}

.layout-main {
    flex-grow: 1;
}

.layout-bg-grid {
    position: fixed;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-layout-grid) 1px, transparent 1px),
                      linear-gradient(to bottom, var(--color-layout-grid) 1px, transparent 1px);
    background-size: 14px 24px;
}

.layout-bg-radial {
    position: fixed;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle 800px at 100% 200px, var(--color-layout-radial), transparent);
}

.layout-main-full {
    padding-top: 3.75rem;
}

.layout-main-standard {
    padding-top: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
