---

---

<div class="global-settings">
    <div class="settings-group toggle-group">
        <label class="webp-switch">
            <input type="checkbox" id="global-webp-toggle" checked />
            <span class="webp-slider"></span>
        </label>
        <span class="toggle-label">Convertir a WebP</span>
    </div>
    <div class="settings-group">
        <label for="global-quality">Compresión Inicial: <span id="global-q-val">80</span>%</label>
        <input type="range" id="global-quality" min="10" max="100" value="80" class="mini-slider" />
    </div>
</div>
