.menu {
  background-color: rgb(240, 170, 70);
  height: 100%;

  &__element {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 5px 10px;

    &.text {
      border-right: 5px solid #ca8119;
      margin-bottom: 1px;
      background-color: #ffd25a;
      line-height: 25px;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        border-color: white;
      }
    }

    &.avatar {
      border-radius: 5px;
      padding: 0;
      border: none;
    }

    &-icon {
      width: 36px;
    }
  }

  &__icons {
    display: flex;
  }
}
