.menu {
  padding: 25px;
  background-color: rgb(240, 170, 70);
  height: 100%;

  &__element {
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;

    &.avatar {
      border-radius: 5px;
    }
  }
}
