.menu {
  background-color: rgb(240, 170, 70);
  height: 100%;

  &__element {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 5px 10px;

    &--menu {
      border-right: 5px solid #ca8119;
    }

    &--submenu {
      margin: 0 5px;
      font-weight: normal;
    }

    &--menu,
    &--submenu {
      background-color: #ffd25a;
      margin-bottom: 1px;
      line-height: 25px;
      cursor: pointer;
    }

    &.avatar {
      padding: 0;
      border: none;
    }

    &-icon {
      width: 36px;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    line-height: 0;
  }
}
