---
import { Icon } from "astro-icon/components";
import "./AuthorNote.css";

interface Props {
    title?: string;
    twitter?: string;
}

const { title = "Nota del Autor", twitter = "jjlmoya" } = Astro.props;
---

<section class="author-note-section">
    <div class="author-note-glow"></div>

    <div class="author-note-container">
        <div class="author-note-card">
            <div class="author-note-top-line"></div>
            <Icon name="mdi:format-quote-open" class="author-note-quote-icon" />

            <div class="author-note-body">
                <div class="author-note-avatar">
                    <Icon name="mdi:feather" class="author-note-avatar-icon" />
                </div>

                <h3 class="author-note-title">
                    {title}
                </h3>

                <div class="author-note-content">
                    <slot />
                </div>

                <div class="author-note-footer">
                    <a
                        href={`https://twitter.com/${twitter}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="author-note-twitter"
                    >
                        <Icon name="mdi:twitter" class="author-note-twitter-icon" />
                        @{twitter}
                    </a>
                    <p class="author-note-badge">
                        <span class="author-note-dot"></span>
                        Hecho por diversión
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
