$navicon-box-size: 200px;

.navicon {
  height: 100%;
  text-align: center;
  display: grid;

  &__wrapper {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    height: $navicon-box-size;
    width: $navicon-box-size;
    border-radius: 50%;
    background-image: url('https://img.freepik.com/free-vector/binary-code-netwrok-technology-concept-background_1017-13992.jpg?size=626&ext=jpg');
    background-size: cover;
    border: 1px solid rgb(130, 184, 245);
    box-shadow: 0 19px 38px rgba(130, 184, 245, 0.15), 0 15px 12px rgba(73, 152, 255, 0.1);
  }

  &__image {
    height: 120%;
    width: 120%;
    position: absolute;
    right: -10%;
    bottom: 0;

    .image {
      object-fit: contain;
      text-align: center;
    }
  }

  &__title {
    align-self: flex-end;
    padding: 20px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(14, 51, 105);
    text-shadow: 2px 2px 2px #99cec9;
  }
}
