---
import GameBobLayout from "../../../layouts/GameBobLayout.astro";
import PostMortemHeader from "../../../components/gamebob/post-mortem/PostMortemHeader.astro";
import PostMortemCard from "../../../components/gamebob/post-mortem/PostMortemCard.astro";
import { postMortemEntries } from "../../../data/gamebob/post-mortem/entries";
---

<GameBobLayout
    title="Post Mortem | GameBob"
    description="Bitácora de errores y aprendizajes en el desarrollo de videojuegos."
    image="/images/gamebob/post-mortem/og-post-mortem.png"
>
    <div class="min-h-screen py-12 px-4 relative">
        <div class="z-10 w-full max-w-6xl mx-auto mt-8">
            <PostMortemHeader
                title="post mortem"
                description="Una crónica de los errores que me han hecho mejor desarrollador. Dicen que la experiencia es el nombre que le damos a nuestras equivocaciones, así que aquí estoy acumulando mucha experiencia para no volver a romper el código del mismo modo."
            />

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {postMortemEntries.map((entry) => <PostMortemCard entry={entry} />)}
            </div>
        </div>
    </div>
</GameBobLayout>
